<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>后台管理</title>
	<link type="text/css" rel="stylesheet" href="__STATIC__/admin/css/index.css"/>
	<link type="text/css" rel="stylesheet" href="__STATIC__/admin/css/public.css"/>
</head>
<body  style="background-color:#f1f1f1">

<script>
    window.location.href="{:url('index/index/admin')}"
</script>
</body>
</html>