<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>订单详情</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link href="__STATIC__/integral/css/style12.css"  rel="stylesheet" type="text/css"/>
</head>
<body>
<section class="aui-flexView">
    <header class="aui-navBar aui-navBar-fixed">
        <a href="/integral.php/member/index/index" class="aui-navBar-item">
            <i class="icon icon-return"></i>
            订单详情
        </a>
        <div class="aui-center">
            <span class="aui-center-title"></span>
        </div>
        <a href="javascript:;" class="aui-navBar-item">
            <i class="icon icon-more"></i>
        </a>
    </header>
    <section class="aui-scrollView">
        <div class="aui-pay-change">
            <div class="aui-flex">
                <div class="aui-flex-box">
                    <h3>兑换完成</h3>
                </div>
                <div class="aui-pay-zfb">
                    <img src="__STATIC__/integral/img/icon-zfb.png"  alt="">
                </div>
            </div>
        </div>
        <div class="aui-flex">
            <div class="aui-flex-add">
                <img src="__STATIC__/integral/img/icon-add.png"  alt="">
            </div>
            <div class="aui-flex-box">
                <h3>
                    {$integral_order_detail_data.consignee_contacts} <em>{$integral_order_detail_data.consignee_tel}</em>
                </h3>
                <p>{$sheng}{$shi}{$qu}{$integral_order_detail_data.consignee_address}</p>
            </div>
        </div>
        <div class="divHeight"></div>
        <div class="aui-commodity-bg">
            <div class="aui-flex">
                <div class="aui-commodity-img">
                    <img src="/static/uploads/business/{$product.images}" alt="">    </div>
                <div class="aui-flex-box">
                    <h4>{$product.title}</h4>
                    <p>{$product.content?"$product_content":"暂无描述"}</p>
                </div>
                <div>
                    <h5>￥{$product.integral}</h5>
                    <p class="aui-sml-text">X{$integral_order_data.num}</p>
                </div>

            </div>
        </div>
        <div class="aui-cp-edu b-line">
            <div class="aui-san-sml"></div>
            <div class="aui-flex aui-flex-ed">
                <div class="aui-flex-box" style="color:#333; font-size:15px;">
                  费用详情
                </div>
            </div>
            <div class="aui-flex aui-flex-ed">
                <div class="aui-flex-box">
                    商品总价 <em>￥{$integral_order_data.price_total}</em>
                </div>
            </div>
            <div class="aui-flex aui-flex-ed">
                <div class="aui-flex-box">
                    运费 (快递)  <em>￥0.00</em>
                </div>
            </div>
            <div class="aui-flex aui-flex-ed">
                <div class="aui-flex-box">
                    运费险(卖家赠送)  <em>￥0.00</em>
                </div>
            </div>
            <div class="aui-flex aui-flex-ed">
                <div class="aui-flex-box" style="color:#333; font-size:15px;">
                    订单总价<em style="color:#333">￥{$integral_order_data.price_total}</em>
                </div>
            </div>
        </div>
        <div class="divHeight b-line"></div>
        <div class="aui-flex aui-flex-text-sml b-line">

            <div class="aui-flex-box">
               <p>
                    <em>订单编号:</em>
                    {$integral_order_data.order_no}

                </p>
                <p>
                    <em>下单时间:</em>
                    {$integral_order_data.create_time|date="Y-m-d H:i:s",###}
                </p>
                <p>
                    <em>订单状态</em>
                    {switch name="$integral_order_data['data_order']" }
                    {case value="0"}
                    未确认
                    {/case}
                    {case value="1"}
                    已确认
                    {/case}
                    {case value="2"}
                    待发货
                    {/case}
                    {case value="3"}
                    已发货[待收货/待收货]
                    {/case}
                    {default /}
                    已确认收货

                    {/switch}
                </p>
            </div>
        </div>
        </div>
    </section>
</section>
</body>
</html>
