<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="viewport" content="width=device-width,inital-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densityDpi=device-dpi" />
    <title>我的地址</title>
    <link type="text/css" rel="stylesheet" href="__STATIC__/integral/css/common14.css">
    <link  type="text/css" rel="stylesheet" href="__STATIC__/integral/css/my_address.css">
    <script type="text/javascript" src="__STATIC__/integral/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="__STATIC__/integral/js/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="__STATIC__/integral/css/lxsHeadFoot.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/integral/css/order_new.css" />
    <script src="__STATIC__/integral/js/jquery-2.1.4.min.js" ></script>
    <link rel="stylesheet" type="text/css" href="__STATIC__/integral/css/lxs_index.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/integral/css/lxsHeadFoot.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/integral/css/layer.css"/>
    <script language="javascript" src="__STATIC__/integral/js/layer.m.js"  charset="UTF-8"></script>
    <script type="text/javascript">
        $(function(){
            var inputs = $(".address_con .addUser_l input");
            $(".address_header").on("click",function(){
                if($(this).hasClass("cancel")){
                    //变成编辑状态
                    $(this).removeClass("cancel").text("编辑");
                    $(".all_delete").hide();

                }else{
                    //变成取消状态
                    $(this).addClass("cancel").text("取消");
                    $(".all_delete").show();

                }
            })

            //全选删除
            $(".all_delete").on("click","a.all",function(){
                inputs.each(function(){
                    $(this).prop("checked",true);
                });
            }).on("click","a.del",function(){
                inputs.each(function(){
                    if($(this).prop("checked")){
                        $(this).parents(".addUser").remove();
                    }
                });
            });
        })
    </script>
    <script>
        function test2(){
            layer.open({
                style: 'width:100%;border:none; background-color:#78BA32; color:#fff;',
                content:'默认地址修改成功',
                time:2,
                anim:true,
                fixed:false,
                top:50,
                shade:false
            })
        }
        function test3(){
            layer.open({
                style: 'width:100%;border:none; background-color:#FF4945; color:#fff;',
                content:'修改失败',
                time:2,
                anim:true,
                fixed:false,
                top:50,
                shade:false
            })
        }
        function test(data,datas) {
            var data = data;
            var datas = datas;
            $.ajax({
                type: "get",   //提交的方法
                url:"__URL__/sitedf/id/"+data+"/uid/"+datas, //提交的地址
                data:1,// 序列化表单值
                dataType:"json",
                success: function(datas) {  //成功
                    if (datas==1){
                        test2()
                        window.location.reload()
                    } else {
                        test3()
                        window.location.reload()
                    }
                }
            });
        }
        function deletes(data) {
            if(confirm("确实要删除吗？")){
                $.ajax({
                    type: "get",   //提交的方法
                    url:"__URL__/deletesite/id/"+data, //提交的地址
                    data:1,// 序列化表单值
                    dataType:"json",
                    success: function(datas) {  //成功
                        if (datas==1){

                            window.location.reload()
                        } else {
                            alert('删除失败');
                        }
                    }
                });
            }
        }
    </script>
</head>
<body>
<div class="content">
    <div style="background: #FF4945" class="headTop">
        <a href="/integral.php/member/index/index" style="color: azure" class="back"><<i class="iconBack"></i></a><span>地址</span><a class="more"><i class="iconDian"></i><i class="iconDian"></i><i class="iconDian"></i></a>
    </div>
</div>
<div class="address_con">
{foreach name="data" id="datas"}
    <div class="addUser">
        <div class="addUser_r">
            <div class="addUsers">
                <p class="dz">{$datas.name}</p>
                <span style="margin-left: 10px" class="addUsers_r">
                    <a href="javascript:(0)" onclick="deletes('{$datas.id}')">
                        <img src="__STATIC__/integral/img/shanchu.png" width="20px" alt="">
                    </a>
                </span>

                <span class="addUsers_r">
                     <a href="__URL__/createsite/id/{$datas.id}">
                        <img src="__STATIC__/integral/img/bianji.png" width="20px" alt="">
                    </a>
                </span>
                {if condition="$datas.data_type>=1"}
                {else/}
                <span class="addUsers_r">
                     <a href="javascript:(0)" onclick="test('{$datas.id}','{$datas.uid}')">
                        <img src="__STATIC__/integral/img/df.png" width="20px" style="margin-right: 5px" alt="">
                    </a>
                </span>
                {/if}

                <p class="dz">{$datas.tel}</p>
            </div>
            <div class="clear"></div>
            <p class="dz">{$datas.sheng}{$datas.shi}{$datas.qu}</p>
        </div>
    </div>
{/foreach}

</div>
<button style="background: #FF4945" type="button" class="deletes">
    <a href="/integral.php/member/index/site"> 新增位置</a>
</button>

</body>
</html>