<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>分类管理</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/images/style.css"/>
    <link type="text/css" rel="stylesheet" href="__STATIC__/admin/css/page.css"/>
    <script type="text/javascript" src="__STATIC__/admin/js/myString.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/function.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/PublicUser.js"></script>
</head>

<body>
<div class="cont_title">　你当前的位置：新闻中心-新闻分类</div>

<div class="con">

    <div class="conlist">
        <form name="form1" method="get" action="__URL__/index">
            <table class="listtable">


                <tr class="tr1">
                    <td  colspan="7" class="tdlist">查询：
                        分类名称 <input type="text" name="SearchTitle" id="SearchTitle" value="{$SearchTitle}" />　
                        状态 <select name="SearchStatus" id="SearchStatus">
                            <option value="">请选择</option>
                        </select>
                        <input type="submit" name="ordersearchsubmit" class="buttomgray"  value="查询" /></td>

                    <td   class="tdlist">
                        <a href="__URL__/add"><input type="button" name="" class="buttomorger"  value="添加" /></a>
                    </td>
                </tr>
            </table>
        </form>
        <form  method="post" action="__URL__/editinfo/action/save?{$paramUrl}">
            <table class="listtable">
                <tr class="tr1">
                    <td colspan="6" class="tit">列表　<a href="__URL__/index">显示全部</a>　</td>
                </tr>
                <tr class="tr1">
                    <td class="tdtit">ID</td>
                    <td class="tdtit">上一级</td>
                    <td class="tdtit">父类</td>
                    <td class="tdtit">标题</td>
                    <td class="tdtit">首页推荐</td>
                    <td class="tdtit">类型</td>
                    <td class="tdtit">状态</td>
                </tr>

            </table>
            <div style="text-align:right; padding-right:40px;">

            </div>
        </form>

    </div>

</div>


</div>
</body>
</html>