<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>模版管理-分类管理-分类列表</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/images/style.css"/>
    <link type="text/css" rel="stylesheet" href="__STATIC__/admin/css/page.css"/>
    <script type="text/javascript" src="__STATIC__/admin/js/myString.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/function.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/PublicUser.js"></script>
</head>

<body>
<div class="cont_title">　你当前的位置：模版管理 -分类管理-分类列表</div>

<div class="con">

    <div class="conlist">
        <form  method="post" action="__URL__/del?father_id={$father_id}" id="form1">
            <input type="hidden" name="father_id" id="father_id" value="{$father_id}" />
            <table class="listtable">
                <tr class="tr1">
                    <td colspan="4" class="tit">
                        {if $father_id eq 1}
                        <a style="color: #666; font-weight: bold;">行业分类</a>　
                        {else}
                        <a href="__URL__/index?father_id=1">行业分类</a>　
                        {/if}
                        {if $father_id eq 2}
                        <a style="color: #666; font-weight: bold;">使用场景</a>　
                        {else}
                        <a href="__URL__/index?father_id=2">使用场景</a>　
                        {/if}
                    </td>
                    <td class="tit">
                        {if auth('disigntpl/dtemplatetype/add') }
                        <a href="__URL__/add?father_id={$father_id}"><input type="button"  value="添加分类" class="buttomorger100" /> </a>
                        {/if}
                    </td>
                </tr>
                <tr class="tr1">
                    <td class="tdtit"><input type="checkbox" id="chkAll" name="chkAll" onClick="CheckAll(this.form)" value="checkbox" />ID</td>
                    <td class="tdtit">标题</td>
                    <td class="tdtit">排序</td>
                    <td class="tdtit">状态</td>
                    <td class="tdtit">操作</td>
                </tr>
                {foreach $list as $value}
                <tr class="tr1">
                    <td class="tdlist">
                        <input type="checkbox" name="ids[]"  value="{$value['class_id']}" />
                        {$value['class_id']}&nbsp;
                    </td>
                    <td class="tdlist">{$value['title']}&nbsp;</td>
                    <td class="tdlist">
                        <input type="text" name="sorts[{$value['class_id']}]" value="{$value['sort_rank']}" maxlength="5" size="5" />
                    </td>
                    <td class="tdlist">
                        {if auth('disigntpl/dtemplatetype/setDataStatus') }
                            {if $value['data_status'] eq 0}
                            <a href="__URL__/setDataStatus/father_id/{$father_id}/id/{$value['class_id']}/Status/1" ><font color="#ff0000">未启用</font></a>
                            {else}
                            <a href="__URL__/setDataStatus/father_id/{$father_id}/id/{$value['class_id']}/Status/0" ><font color="#006600">已启用</font></a>
                            {/if}
                        {else}
                            {if $value['data_status'] eq 0}
                            <font color="#ff0000">未启用</font>
                            {else}
                            <font color="#006600">已启用</font>
                            {/if}
                        {/if}
                    </td>
                    <td class="tdlist">
                        {if auth('designtpl/dtemplatetype/edit') }
                        [<a href="__URL__/edit/father_id/{$father_id}/id/{$value['class_id']}" >编辑</a>]
                        {/if}
                        {if auth('designtpl/dtemplatetype/del') }
                        [<a href="__URL__/del/father_id/{$father_id}/id/{$value['class_id']}" onclick="return confirm('确定要删除吗？');">删除</a>]
                        {/if}
                    </td>
                </tr>
                {/foreach}

                {if $count eq 0}
                <tr class="tr1">
                    <td colspan="7" class="tdlist">暂无相关记录！ </td>
                </tr>
                {/if}
                <tr class="tr1">
                    <td colspan="11" class="tdlist" >
                        <input type="hidden" name="checkclass" id="checkclass" value="1" />
                        {if auth('disigntpl/dtemplatetype/del') }
                        <input type="submit" class="buttomorger"  value="删除"  onClick="javascript:return confirm('确定要删除吗？');" />
                        {/if}
                        {if auth('disigntpl/dtemplatetype/sortrank') }
                        <input type="submit" class="buttomorger"  value="排序"
                               onClick="document.getElementById('checkclass').value='2'; document.getElementById('form1').action='__URL__/sortrank?father_id={$father_id}';" />
                        {/if}
                    </td>
                </tr>
            </table>
            <div style="text-align:right; padding-right:40px;">
                {$page}
            </div>
        </form>

    </div>

</div>


</div>
</body>
</html>