<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>模版管理-模版列表</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/images/style.css"/>
    <link type="text/css" rel="stylesheet" href="__STATIC__/admin/css/page.css"/>
    <script type="text/javascript" src="__STATIC__/admin/js/myString.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/function.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/PublicUser.js"></script>
</head>

<body>
<div class="cont_title">　你当前的位置：模版管理 -模版列表</div>

<div class="con">

    <div class="conlist">
        <form name="form1" method="get" action="__URL__/index">
            <table class="listtable">
                <tr class="tr1">
                    <td  colspan="7" class="tdlist">查询：
                        模版分类 <select name="SearchDataType" id="SearchDataType">
                            <option value="">请选择</option>
                            {foreach $ConfigTemplateDataType as $key=>$value}
                            <option value="{$key}" {if $SearchDataType==$key }selected{/if} >{$value}</option>
                            {/foreach}
                        </select>　
                        使用场景 <select name="SearchUsageScenariosId" id="SearchUsageScenariosId">
                            <option value="">请选择</option>
                            {foreach $listUsageScenarios as $key=>$value}
                            <option value="{$value['id']}" {if $SearchUsageScenariosId==$value['id'] }selected{/if} >{$value['title']}</option>
                            {/foreach}
                        </select>　　
                        行业分类 <select name="SearchIndustryId" id="SearchIndustryId">
                            <option value="">请选择</option>
                            {foreach $listIndustry as $key=>$value}
                            <option value="{$value['id']}" {if $SearchIndustryId==$value['id'] }selected{/if} >{$value['title']}</option>
                            {/foreach}
                        </select>　　
                        条码类型 <select name="SearchCodeType" id="SearchCodeType">
                            <option value="">请选择</option>
                            {foreach $ConfigTemplateCodeType as $key=>$value}
                            <option value="{$key}" {if $SearchCodeType==$key }selected{/if} >{$value}</option>
                            {/foreach}
                        </select>　
                        <input type="submit" name="ordersearchsubmit" class="buttomgray"  value="查询" />
                    </td>
                    <td   class="tdlist">
                    </td>
                </tr>
            </table>
        </form>
        <form  method="post" action="__URL__/editinfo/action/save?{$paramUrl}">
            <table class="listtable">
                <tr class="tr1">
                    <td colspan="7" class="tit">列表　<a href="__URL__/index">显示全部</a>　</td>
                </tr>
                <tr class="tr1">
                    <td class="tdtit">ID</td>
                    <td class="tdtit">图片</td>
                    <td class="tdtit">名称</td>
                    <td class="tdtit">纸张尺寸</td>
                    <td class="tdtit">标签尺寸</td>
                    <td class="tdtit">启用状态</td>
                    <td class="tdtit">操作</td>
                </tr>
                {foreach $List as $value}
                <tr class="tr1">
                    <td class="tdlist">{$value['template_id']}&nbsp;</td>
                    <td class="tdlist">{$value['img']}&nbsp;</td>
                    <td class="tdlist">{$value['title']}&nbsp;</td>
                    <td class="tdlist">{$value['templateContent']['paper_size_long']}*{$value['templateContent']['paper_size_wide']} {$value['templateContent']['paper_size_unit']}&nbsp;</td>
                    <td class="tdlist">{$value['templateContent']['lable_size_wide']}*{$value['templateContent']['lable_size_height']} {$value['templateContent']['lable_size_unit']}&nbsp;</td>
                    <td class="tdlist">
                        {if auth('designtpl/dtemplate/setDataStatus') }
                            {if $value['data_status'] eq 0}
                            <a href="__URL__/setDataStatus/id/{$value['admin_id']}/Status/1?{$paramUrl}" ><font color="#ff0000">未启用</font></a>
                            {else}
                            <a href="__URL__/setDataStatus/id/{$value['admin_id']}/Status/0?{$paramUrl}" ><font color="#006600">已启用</font></a>
                            {/if}
                        {else}
                            {if $value['data_status'] eq 0}
                            <font color="#ff0000">未启用</font>
                            {else}
                            <font color="#006600">已启用</font>
                            {/if}
                        {/if}
                    </td>
                    <td class="tdlist">
                        {if auth('designtpl/dtemplate/edit') }
                        [<a href="/index.php/design/online/index?templateId={$value['template_id']}">编辑</a>]
                        {/if}
                        {if auth('designtpl/dtemplate/info') }
                        [<a href="/index.php/design/online/index?templateId={$value['template_id']}">查看</a>]
                        {/if}
                    </td>
                </tr>
                {/foreach}

                {if $count eq 0}
                <tr class="tr1">
                    <td colspan="7" class="tdlist">暂无相关记录！ </td>
                </tr>
                {/if}

            </table>
            <div style="text-align:right; padding-right:40px;">
                {$page}
            </div>
        </form>

    </div>

</div>


</div>
</body>
</html>