.bill_title{ font-size:16px; color:#989898; text-align: center; line-height: 45px;border-bottom:1px solid #d9d9d8;  width: 100%;height: 45px;position: fixed;background-color: #f4f4f4;top:0; left:0;z-index: 10;}
.bill_cons{ width: 100%; height: auto; background: #fff;  position: absolute;top: 46px;  margin-bottom: 25%;}
.bill_con{ width: 100%; height: auto;margin: 0 auto;}
.bill_con a{ display: inline-block;}
a.bill_01{ width: 100%; height: auto; overflow: hidden;border-bottom: 1px solid #d9d9d8; display: inherit}
.income{ width: 95%; height: auto; overflow: hidden; margin: 0 auto;}
.income_l{ width: 80%; height: auto; overflow: hidden; padding: 10px 0;}
.income_l p.zf{ font-size:15px; color:#383737; margin-bottom: 5px}
.income_l img{ width:22px; display: inline-block; border-radius: 5px;}
.income_l .ye{ display: inline-block; vertical-align:top; font-size: 13px; margin-top: 4px; color:#9b9b9b;}
.income_r{ width: 20%;overflow: hidden;padding: 12px 0; text-align: right }
.income_r span.year_r{color:#9b9b9b; font-size: 12px; display: block; margin-bottom: 8px}
.income_r span.je{color:#383737; font-size: 16px; display: block;}