<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link href="__STATIC__/integral/css/stylejifen.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="__STATIC__/integral/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="__STATIC__/integral/js/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="__STATIC__/integral/css/lxsHeadFoot.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/integral/css/order_new.css"/>
    <script src="__STATIC__/integral/js/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="__STATIC__/integral/css/lxs_index.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/integral/css/lxsHeadFoot.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/integral/css/layer.css"/>
    <script language="javascript" src="__STATIC__/integral/js/layer.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=dwYeelh9zPA3lLhUP6qyba22OOg5GKnQ"></script>

</head>

<body>

<section class="aui-flexView">

    <section class="aui-scrollView">
        <div class="aui-top-head">
            <div class="aui-title-bg"></div>
            <div class="aui-invite-box">

                <div class="aui-invite-title">
                    <img src="__STATIC__/integral/img/photo.png" width="30%"/>
                    <h4></h4>
                    <h2><i></i><em></em> <i>恭喜发财</i></h2>
                    <img src="__STATIC__/integral/img/jifen.png" width="50%"/>
                </div>

                <div class="aui-button">
                    <button><a id="lingqu" class="lingqu" style="color: #f9fffe" href="">领取红包</a> </button>
                    <p style="color: black;font-size: 20px;">先关注微信公众号才可以领取红包哦</p>
                </div>
            </div>

            <div class="aui-invite-box aui-invite-box-clear">
                <div class="aui-flex" style="padding:0">
                    <div class="aui-flex-box">
                        <h4>扫一扫关注公众号</h4>
                        <h5>更多活动等你参加</h5>

                    </div>
                    <div class="aui-gift">
                        公众号
                        <img src="__STATIC__/integral/img/ewm.jpg" alt="">
                    </div>
                </div>
                <br/>
            </div>
        </div>
        </div>
    </section>
</section>
</body>
<script>
    layer.confirm('请求获取当前位置', {
        btn: ['取消','获取']
    }, function(){
        cancel()
    }, function(){
        data()
    });
</script>
<script>
    function cancel() {
        var url = "/business.php/hongbao/option/getBaseInfo"
        $("#lingqu").attr('href',url)
        layer.msg('取消');
    }
    function data() {
        var geolocation = new BMap.Geolocation();
        geolocation.getCurrentPosition(function(r){
            var adds =r.point;
            var latitude = adds.lat,
                longitude  = adds.lng;
            if(this.getStatus() == BMAP_STATUS_SUCCESS){
                $.ajax({
                    url:'http://api.map.baidu.com/geocoder/v2/?ak=dwYeelh9zPA3lLhUP6qyba22OOg5GKnQ&location=' + latitude + ',' + longitude + '&output=json&pois=1',
                    dataType: 'jsonp',
                    callback: 'BMap._rd._cbk43398',
                    success: function(res) {
                        var url = "/business.php/hongbao/option/getBaseInfo/code/"+res['result']['addressComponent']['adcode']+"/code_info_id/"+"{$code_info_id}"
                        $("#lingqu").attr('href',url)
                    }
                });
            }
            else {
                $(ev.currentTarget).text('定位失败');
            }
        },{enableHighAccuracy: true})//指示浏览器获取高精度的位置，默认false
    }
</script>
</html>