<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link href="__STATIC__/integral/css/stylejifen.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="__STATIC__/integral/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="__STATIC__/integral/js/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="__STATIC__/integral/css/lxsHeadFoot.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/integral/css/order_new.css"/>
    <script src="__STATIC__/integral/js/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="__STATIC__/integral/css/lxs_index.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/integral/css/lxsHeadFoot.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/integral/css/layer.css"/>
    <script language="javascript" src="__STATIC__/integral/js/layer.m.js" charset="UTF-8"></script>

</head>

<body>

<section class="aui-flexView">

    <section class="aui-scrollView">
        <div class="aui-top-head">
            <div class="aui-title-bg"></div>
            <div class="aui-invite-box">

                <div class="aui-invite-title">
                    <img src="__STATIC__/integral/img/photo.png" width="30%"/>
                    <h4></h4>
                    <h2><i></i><em></em> <i>恭喜发财</i></h2>
                    <img src="__STATIC__/integral/img/jifen.png" width="50%"/>
                </div>

                <div class="aui-button">
                    <button><a style="color: #f9fffe" href="{:url('option/getBaseInfo')}">领取红包</a> </button>
                    <p style="color: black;font-size: 20px;">先关注微信公众号才可以领取红包哦</p>
                </div>
            </div>

            <div class="aui-invite-box aui-invite-box-clear">
                <div class="aui-flex" style="padding:0">
                    <div class="aui-flex-box">
                        <h4>扫一扫关注公众号</h4>
                        <h5>更多活动等你参加</h5>

                    </div>
                    <div class="aui-gift">
                        公众号
                        <img src="__STATIC__/integral/img/ewm.jpg" alt="">
                    </div>
                </div>
                <br/>
            </div>
        </div>
        </div>
    </section>
</section>
</body>

</html>