<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>客户管理-客户列表</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/images/style.css"/>
    <link type="text/css" rel="stylesheet" href="__STATIC__/admin/css/page.css"/>
    <script type="text/javascript" src="__STATIC__/admin/js/myString.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/function.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/PublicUser.js"></script>
</head>

<body>
<div class="cont_title">　你当前的位置：客户管理 -客户列表</div>

<div class="con">

    <div class="conlist">
        <form name="form1" method="get" action="__URL__/index">
            <table class="listtable">
                <tr class="tr1">
                    <td  colspan="7" class="tdlist">查询：
                        用户名 <input type="text" name="SearchTitle" id="SearchTitle" value="{$SearchTitle}" />　
                        性别 <select name="SearchSex" id="SearchSex">
                            <option value="">请选择</option>
                            <option value="0" {if $SearchSex eq 0 }selected{/if} >男</option>
                            <option value="1" {if $SearchSex eq 1 }selected{/if} >女</option>
                        </select>　</td>
                    <td   class="tdlist">
                    </td>
                </tr>
                <tr class="tr1">
                    <td  colspan="7" class="tdlist">　　　
                        角色 <select name="SearchIsVip" id="SearchIsVip">
                            <option value="">请选择</option>
                            <option value="0" {if $SearchIsVip eq 0 }selected{/if} >普通用户</option>
                            <option value="1" {if $SearchIsVip eq 1 }selected{/if} >VIP用户</option>
                        </select>　
                        邮箱 <input type="text" name="SearchEmail" id="SearchEmail" value="{$SearchEmail}" />　
                        <input type="submit" name="ordersearchsubmit" class="buttomgray"  value="查询" /></td>
                    <td   class="tdlist">
                    </td>
                </tr>
            </table>
        </form>
        <form  method="post" action="__URL__/editinfo/action/save?{$paramUrl}">
            <table class="listtable">
                <tr class="tr1">
                    <td colspan="7" class="tit">列表　<a href="__URL__/index">显示全部</a>　</td>
                </tr>
                <tr class="tr1">
                    <td class="tdtit">ID</td>
                    <td class="tdtit">用户名</td>
                    <td class="tdtit">角色</td>
                    <td class="tdtit">性别</td>
                    <td class="tdtit">邮箱</td>
                    <td class="tdtit">操作</td>
                </tr>
                {foreach $List as $value}
                <tr class="tr1">
                    <td class="tdlist">{$value['member_id']}&nbsp;</td>
                    <td class="tdlist">{$value['name']}&nbsp;</td>
                    <td class="tdlist">{:$value['is_vip']===1 ? 'VIP用户' : '普通用户'}&nbsp;</td>
                    <td class="tdlist">{:$value['sex']===1 ? '女' : '男'}&nbsp;</td>
                    <td class="tdlist">{$value['email']}</td>
                    <td class="tdlist">
                        {if auth('member/member/edit') }
                        [<a href="{:url('member/edit')}?id={$value['member_id']}&{$paramUrl}">编辑</a>]
                        {/if}
                    </td>
                </tr>
                {/foreach}

                {if $count eq 0}
                <tr class="tr1">
                    <td colspan="7" class="tdlist">暂无相关记录！ </td>
                </tr>
                {/if}

            </table>
            <div style="text-align:right; padding-right:40px;">
                {$page}
            </div>
        </form>

    </div>

</div>


</div>
</body>
</html>