<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>积分信息页</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="https://weixin.zijiahei.com/web/resource/images/favicon.ico">
    <link href="__STATIC__/business/css/bootstrap.css" rel="stylesheet">
    <link href="__STATIC__/business/css/common.css" rel="stylesheet">
    <script src="__STATIC__/business/s.txt"></script>
    <script type="text/javascript" src="__STATIC__/business/js/jquery-1.js"></script>
    <script type="text/javascript" src="__STATIC__/business/js/bootstrap.js"></script>
    <script type="text/javascript" src="__STATIC__/business/js/util.js"></script>
    <script type="text/javascript" src="__STATIC__/business/js/common.js"></script>
    <script type="text/javascript" src="__STATIC__/business/js/require.js"></script>
</head>
<body>
<div class="loader" style="display:none">
    <div class="la-ball-clip-rotate">
        <div></div>
    </div>
</div>

<div class="panel panel-content main-panel-content ">
    <div class="panel-body clearfix main-panel-body menu-fixed">
                    <div class="right-content" style="min-height: 490px;">
                        <ul class="we7-page-tab">
                            <li class="active"><a
                                    href="https://weixin.zijiahei.com/web/index.php?c=user&amp;a=display&amp;">消费明细</a>
                            </li>

                        </ul>
                        <div class="keyword-list-head clearfix we7-margin-bottom">
                            <form action="" method="get">
                                <input type="hidden" name="c" value="user">
                                <input type="hidden" name="a" value="display">
                                <input type="hidden" name="do" value="">
                                <input type="hidden" name="type" value="">
                                <!--<div class="input-group pull-left col-sm-4">
                                    <input type="text" name="username" id="" class="form-control" placeholder="搜索用户名">
                                    <span class="input-group-btn"><button class="btn btn-default"><i
                                            class="fa fa-search"></i></button></span>
                                </div>-->
                            </form>

                        </div>
                        <table class="table we7-table table-hover table-manage vertical-middle ng-scope"
                               id="js-users-display" ng-controller="UsersDisplay">
                            <colgroup>
                                <col width="150px">
                                <col width="150px">
                                <col width="180px">
                                <col width="140px">
                                <col width="140px">
                                <col width="140px">
                                <col width="160px">
                                <col width="150px">
                                <col width="150px">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th class="text-left">订单号</th>
                                <th>订单金额</th>
                                <th>消费时间</th>
                            </tr>
                            {if condition="!empty($list)"}
                            {volist name="list" id="vo"}
                            <tr ng-repeat="user in users" ng-if="users" class="ng-scope">
                                <td class="text-left ng-binding" ng-bind="user.username">{$vo.order_no}</td>
                                <td class="color-default ng-binding" ng-bind="user.maxaccount">{$vo.amount}</td>
                                <td class="color-default ng-binding" ng-bind="user.maxwxapp">{$vo.create_time|date="Y-m-d",###}</td>
                            </tr>
                            {/volist}
                            {else/}
                            <tr ng-repeat="user in users" ng-if="users" class="ng-scope">
                                <td class="text-left ng-binding" ng-bind="user.username">暂没有记录</td>
                                <td class="text-left ng-binding" ng-bind="user.username"></td>
                                <td class="text-left ng-binding" ng-bind="user.username"></td>
                            </tr>
                            {/if}
                            </tbody>
                        </table>
                        <div class="text-right">
                            {$list->render()}
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

</body>
</html>