<div class="footer">
	<div class="all-work-list">
		<div class="lt">
			<div class="bottom_logo clearfix">
				<div class="fl footer-logo-box">
					<img src="__STATIC__/home/images/bottom_logo.png" class="footer-logo">
					<span class="footer-slogan">做标签 · 不求人</span>
				</div>
			</div>
			<span class="footer-slogan2">
云标签倾力打造智能的标签在线编辑和打印管理平台。
</span>

			<span class="footer-slogan2">
设计师可以在线编辑会员分享的成品标签，也可自行设计自己想要的模板。
</span>

			<span class="footer-slogan2">
Copyright 2005-2020 All Reserved
</span>
		</div>

		<div class="rt">
			<div class="bottom_logo clearfix">
				<div class="fl footer-logo-box">
					<img src="__STATIC__/home/images/weixin.png" class="footer-weixin"> <a href="#" target="_blank"><img
						src="__STATIC__/home/images/qq.png" class="footer-weixin"></a>
				</div>
			</div>
			<span class="footer_phone">
400-888-8888
</span>
			<span class="footer-slogan2">
email@email.com
</span>
			<span class="footer-slogan2">
技术支持：{$getoneWebConfigComm.web_name}
</span>
		</div>
	</div>

</div>