<div >
    <a href="/index.php">首页</a>　|　
    <a href="/index.php/index/templates/index">模版中心</a>　|　
    <a href="/index.php/design/online/index">开始设计</a>　|　
    <a href="/index.php/design/online/index">模版定制</a>　|　

    {php}
    use think\Session;
    if(Session::has('username')){
    {/php}
    {$Think.session.username}
    <a href="/index.php/member/register/unlogin">退出</a>　|　
    <a href="/index.php/member/userconter/index">用户中心</a>　|　
    {php}
    }else{
    {/php}
    <a href="/index.php/member/register/index">注册</a>　|　
    <a href="/index.php/member/login/index">登录</a>　|　
    {php}
    }
    {/php}
</div>
