{if $Think.session.username neq ''}
<div class="user-center">
    <ul class="login">
        <li class="user">
            <div class="avatar-container-30">
                {if condition="!empty($Think.session.userimg)"}
                <a href="/index.php/member/userconter/index" class="user-list">
                    <img class="layui-upload-img" src="__STATIC__/{$Think.session.userimg}" title="{$Think.session.username}"  alt="{$Think.session.username}">
                </a>
                {else/}
                <a href="/index.php/member/userconter/index" class="user-list">
                    <img class="layui-upload-img" src="__STATIC__/home/images/UserDefault.jpg" title="{$Think.session.username}"  alt="{$Think.session.username}">
                </a>
                {/if} </div>
            <div class="menu-list user-box hide">
                <section><a href="/index.php/member/userconter/index" z-st="nav_userbox_name">{$Think.session.username}</a></section>
                <div class="user-box-list">
                    <div class="user-box-list-area">
                        <p class="works-manange"><a href="/index.php/member/userconter/index"><i class="lusheji lusheji_iconziliao"></i>资料设置</a></p>
                        <p class="works-manange"><a href="/index.php/member/userconter/index"> <i class="lusheji lusheji_icontemplate-library"></i>模板管理</a></p>
                        <p class="works-manange"><a href="/index.php/member/userconter/index"><i class="lusheji lusheji_icondingdan"></i>订单中心</a></p>
                        <p class="works-manange"><a href="/index.php/member/userconter/index"><i class="lusheji lusheji_icontuiguang"></i>数据表</a></p>
                    </div>
                    <div class="user-box-list-area">
                        <p class="works-manange"><a href="/index.php/member/register/unlogin"><i class="lusheji lusheji_icontuichu"></i>退出</a></p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
{else/}
<div class="user-center">
    <ul class="unlogin">
        <li><a href="/index.php/member/register/login">登录</a><a href="/index.php/member/register/index">注册</a></li>
    </ul>
</div>
{/if}