<div id="wp" style="background:#fff;margin-top: 60px;">
    <div class="all-work-list">
        <div class="top_img"><img width="519" height="39" src="__STATIC__/home/images/top1.png"></div>
        <div class="container">
            <div id="search">
                <form action="/index.php/index/home/ss" method="post">
                    <input class="search_k" type="text" name="value">
                    <input  type="submit" name="value" value=""> <button class="search_b">搜索</button> 或　<a href="#"><button class="search_b">在线设计</button></a>
                </form>
            </div>
        </div>
    </div>
</div>