{include file="nav" /}
<div id="wp" style="background:#fff;margin-top: 60px;">
    <div class="all-work-list">
        <div id="wp" style="height:1080px;">
            <div class="all-work-list">
                <div class="screen">
                    <ul class="select">
                        <li class="select-list">
                            <dl id="select1">
                                <dt>行业：</dt>
                                <dd class="select-all selected"><a href="javascript:">全部</a></dd>
                                {foreach name='listUsageScenarios' id='data'}
                                <dd><a href="javascript:">{$data.title}</a></dd>
                                {/foreach}
                            </dl>
                        </li>
                        <li class="select-list">
                            <dl id="select2">
                                <dt>场景：</dt>
                                <dd class="select-all selected"><a href="javascript:">全部</a></dd>
                                {foreach name='listIndustry' id='data'}
                                <dd><a href="javascript:">{$data.title}</a></dd>
                                {/foreach}
                            </dl>
                        </li>
                        <li class="select-list">
                            <dl id="select3">
                                <dt>条码类型：</dt>
                                <dd class="select-all selected"><a href="javascript:">全部</a></dd>
                                {foreach name='ConfigTemplateCodeType' id='data'}
                                <dd> <a  href="javascript:">{$data}</a></dd>
                                {/foreach}
                            </dl>
                        </li>
                        <li class="select-result">
                            <dl>
                                <dt>已选条件：</dt>
                                <dd class="select-no">暂时没有选择过滤条件</dd>
                            </dl>
                        </li>
                    </ul>
                </div>
                <div class="muban_list">
                    <ul>
                        {foreach name='datas' id='datad'}
                        <li>

                            <a href="#" target="_blank">
                                <div class="imgBox">
                                    <a href="/index.php/index/templates/content/template_id/{$datad.template_id}"> <img width="260px" height="220px" src="/home/uploads/{$datad.img}"></a>

                                </div>
                            </a>
                            <div class="interactive-box">
                                <a href="#" target="_blank">
                                    <h2>{$datad.title}</h2>
                                </a>
                                <div class="data-box">
                                    <div class="data-view">
                                        <span>纸张尺寸</span>
                                        <br><span> 标签尺寸</span>
                                        <br><span><a class="user-list"><img src="/home/uploads/{$datad.img}" title="{$MemberData.username}" alt="{$MemberData.username}"></a>　{$MemberData.username}</span>
                                    </div>
                                    <div class="datad-like">
                                        <span>{$datad.paper_size_long}{$datad.paper_size_unit}*{$datad.paper_size_wide}{$datad.paper_size_unit}</span>
                                        <br><span>{$datad.lable_size_wide}{$datad.paper_size_unit}*{$datad.lable_size_height}{$datad.paper_size_unit}</span>
                                        <br><span>被获取打印<b style="color: #FF6262">{$datad.get_nums}</b>次</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {/foreach}


                    </ul>
                </div>

                <div id="laypage88" style="text-align: center;">
                    <div class="layui-box layui-laypage layui-laypage-default" id="layui-laypage-7">
                        <a href="javascript:;" class="layui-laypage-prev layui-disabled" data-page="0">上一页</a>
                        <span class="layui-laypage-curr">
      <em class="layui-laypage-em"></em><em>1</em></span>
                        <a href="javascript:;" data-page="2">2</a>
                        <a href="javascript:;" data-page="3">3</a>
                        <a href="javascript:;" data-page="4">4</a>
                        <a href="javascript:;" data-page="5">5</a>
                        <a href="javascript:;" class="layui-laypage-next" data-page="2">下一页</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
        <div class="footer">
            <div class="all-work-list">
                <div class="lt">
                    <div class="bottom_logo clearfix">
                        <div class="fl footer-logo-box">
                            <img src="__STATIC__/home/images/bottom_logo.png" class="footer-logo">
                            <span class="footer-slogan">做标签 · 不求人</span>
                        </div>
                    </div>
                    <span class="footer-slogan2">
云标签倾力打造智能的标签在线编辑和打印管理平台。
</span>

                    <span class="footer-slogan2">
设计师可以在线编辑会员分享的成品标签，也可自行设计自己想要的模板。
</span>

                    <span class="footer-slogan2">
©lusheji.com, powered by lusheji Team。
</span>
                </div>

                <div class="rt">
                    <div class="bottom_logo clearfix">
                        <div class="fl footer-logo-box">
                            <img src="__STATIC__/home/images/weixin.png" class="footer-weixin"> <a href="#" target="_blank"><img src="__STATIC__/home/images/qq.png" class="footer-weixin"></a>
                        </div>
                    </div>
                    <span class="footer_phone">
400-888-8888
</span>
                    <span class="footer-slogan2">
email@email.com
</span>
                    <span class="footer-slogan2">
XXX省XX市XX路XX有限公司
</span>
                </div>
            </div>
            <script src="__STATIC__/home/layui/layui.all.js"></script>
            <script>
                layui.use(['carousel', 'form'], function(){
                    var carousel = layui.carousel
                        ,form = layui.form;

                    //常规轮播
                    carousel.render({
                        elem: '#test1'
                        ,width: '1200px'
                        ,height: '359px'
                        ,interval: 3000
                    });

                });
            </script>

        </div>
</body>
</html>















