<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">
    <form action="{:url('home/ss')}" method="post">
            搜索查询<input type="text" name="value">
            <input type="submit" value="Submit">
        </form>
    </form>
</div>
<div class="container">
    <form action="{:url('user/img')}" method="post" enctype="multipart/form-data">
        <input  placeholder="" name="img"  type="file">
        <input type="submit" value="Submit">
    </form>
    </form>
</div>

//模板分类<br/>
{volist name="ConfigTemplateDataType" id="admin"}
{$admin}{$key}
{/volist}<br/>
//条码分类<br/>
{volist name="ConfigTemplateCodeType" id="admin"}
{$admin}{$key}
{/volist}
<br/>
//场景分类<br/>
{foreach name='listUsageScenarios' id='admin'}
{$admin.title}
{$admin.id}
{/foreach}
<br/>
//行业分类<br/>
{foreach name='listIndustry' id='admin'}
{$admin.title}
{$admin.id}
{/foreach}
<br/>
//热门排序<br/>
{foreach name='Popular' id='admin'}
{$admin.title}
{/foreach}
<br/>
//综合排序<br/>
{foreach name='cas' id='admin'}
{$admin.title}
{/foreach}<br/>
//最新排序7天之内<br/>
{foreach name='New' id='admin'}
{$admin.title}
{/foreach}


</body>
</html>