<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <title>碱地番茄全程追溯信息</title>
    <link rel="stylesheet" href="__STATIC__/home/images_scsg/swiper.min.css" />
    <link rel="stylesheet" href="__STATIC__/home/images_scsg/base.css" />
</head>
<body>
<div id="mainContent" class="mainContent feiliao">
    <!-- 肥料与农药 -->
    <div class="padding_10">
        <div class="head">
            全生长期内使用的农药详情
        </div>
        <div class="content">
            <div class="table-border">
                <table class="topHead-table">
                    <thead>
                    <tr>
                        <td class="table-title">日期</td>
                        <td class="table-title">名称</td>
                        <td class="table-title">用量(kg)</td>
                        <td class="table-title">品牌</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="table-info">2018<br>06-01</td>
                        <td class="table-info">乙烯菌核利</td>
                        <td class="table-info">2.5kg/亩</td>
                        <td class="table-info">河池</td>
                    </tr>
                    <tr>
                        <td class="table-info">2018<br>06-01</td>
                        <td class="table-info">多菌灵</td>
                        <td class="table-info">2.5kg/亩</td>
                        <td class="table-info">诺普丰</td>
                    </tr>
                    <tr>
                        <td class="table-info">2018<br>06-01</td>
                        <td class="table-info">氯氟氰菊酯</td>
                        <td class="table-info">2.5kg/亩</td>
                        <td class="table-info">斯巴达</td>
                    </tr>
                    <tr>
                        <td class="table-info">2018<br>07-01</td>
                        <td class="table-info">乙烯菌核利</td>
                        <td class="table-info">50ml/亩</td>
                        <td class="table-info">诺普丰</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="c-part-head">
                <span class="head-txt">乙烯菌核利</span>
            </div>
            <div class="c-part-info">
                对果树、蔬菜上的灰霉、褐斑、菌核病有良好防效。
            </div>
            <div class="c-part-head">
                <span class="head-txt">氯氟氰菊酯</span>
            </div>
            <div class="c-part-info">
                可防治棉铃象甲、棉铃虫、玉米螟、棉叶螨、蔬菜黄条跳甲、小菜蛾、菜青虫、斜纹夜蛾、马铃薯长管蚜、马铃薯甲虫等，对蚊、蝇、蟑螂等卫生害虫也有效。
            </div>
            <div class="c-part-head">
                <span class="head-txt">多菌灵</span>
            </div>
            <div class="c-part-info">
                对多种作物由真菌（如半知菌、多子囊菌）引起的病害有防治效果。对人、畜、鱼类、蜜蜂等低毒。
            </div>
        </div>
    </div>
    <!-- </div> -->
    {include file="publicinfo@publicinfo/footer"  /}
</div>
<!-- <div class="cards"> -->
<script type="text/javascript">
    if(!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)){
        document.getElementById('mainContent').style.width = '320px';
        document.getElementById('mainContent').className="mainContent feiliao diyScroll";
    }
</script>
<script type="text/javascript" src="__STATIC__/home/images_scsg/jquery.js"></script>
<script type="text/javascript" src="__STATIC__/home/images_scsg/swiper.min.js"></script>
<script type="text/javascript" src="__STATIC__/home/images_scsg/script.js"></script>
</body>

</html>