<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <title>碱地番茄全程追溯信息</title>
    <link rel="stylesheet" href="__STATIC__/home/images_scsg/swiper.min.css" />
    <link rel="stylesheet" href="__STATIC__/home/images_scsg/base.css" />
</head>
<body>
<div id="mainContent" class="mainContent">
    <div class="calendar-head zoom">
        <div class="calendar-head-itme fl_left current" name="shijianxian"><div class="headTxt">时间线</div></div>
        <div class="calendar-head-itme fl_left" name="rili"><div class="headTxt">日历</div></div>
    </div>
    <div class="rili"  style="display:none;">
        <div class="calendar-sub">
            <div class="currentDay fl_left">2018-07-07</div>
            <div class="currentPlace">河南省延津县南街镇种植大棚</div>
        </div>
        <div class="calendar-detail">
            <div class="c-detail-item">
                <span class="feiliao fl_left">施肥：100公斤</span>
            </div>
            <div class="c-detail-item">
                <span class="nongyao fl_left">喷药：100公斤</span>
            </div>
        </div>
        <div class="banner" style="padding-bottom:10px;">
            <img src="__STATIC__/home/images_scsg/calendar.jpg">
        </div>
    </div>
    <div class="shijianxian">
        <div class="timeEvents">
            <div class="t-event-item">
                <span class="t-e-item-icon"></span>
                <div class="t-e-item-detail">
                    <span class="t-event-icon e-1"></span>
                    <table class="noBorderTable">
                        <tr>
                            <td class="noBTable-title">时间</td>
                            <td class="noBTable-colon">:</td>
                            <td class="noBTable-info ">2018-05-20</td>
                        </tr>
                        <tr>
                            <td class="noBTable-title">播种者</td>
                            <td class="noBTable-colon">:</td>
                            <td class="noBTable-info ">董成林</td>
                        </tr>
                        <tr>
                            <td class="noBTable-title">种苗</td>
                            <td class="noBTable-colon">:</td>
                            <td class="noBTable-info ">碱地番茄</td>
                        </tr>
                        <tr>
                            <td class="noBTable-title">品牌</td>
                            <td class="noBTable-colon">:</td>
                            <td class="noBTable-info ">OH!</td>
                        </tr>
                        <tr>
                            <td class="noBTable-title">供应商</td>
                            <td class="noBTable-colon">:</td>
                            <td class="noBTable-info ">自培</td>
                        </tr>
                        <tr>
                            <td class="noBTable-title">用量</td>
                            <td class="noBTable-colon">:</td>
                            <td class="noBTable-info ">1000棵/亩</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="t-event-item">
                <span class="t-e-item-icon"></span>
                <div class="t-e-item-detail">
                    <span class="t-event-icon e-2"></span>
                    <table class="noBorderTable">
                        <tr>
                            <td class="noBTable-title">时间</td>
                            <td class="noBTable-colon">:</td>
                            <td class="noBTable-info ">2018-06-01</td>
                        </tr>
                        <tr>
                            <td class="noBTable-title">施肥者</td>
                            <td class="noBTable-colon">:</td>
                            <td class="noBTable-info ">董成林</td>
                        </tr>
                        <tr>
                            <td class="noBTable-title">肥料</td>
                            <td class="noBTable-colon">:</td>
                            <td class="noBTable-info ">尿素</td>
                        </tr>
                        <tr>
                            <td class="noBTable-title">品牌</td>
                            <td class="noBTable-colon">:</td>
                            <td class="noBTable-info ">金坷垃</td>
                        </tr>
                        <tr>
                            <td class="noBTable-title">供应商</td>
                            <td class="noBTable-colon">:</td>
                            <td class="noBTable-info ">杭州农产品肥料公司</td>
                        </tr>
                        <tr>
                            <td class="noBTable-title">用量</td>
                            <td class="noBTable-colon">:</td>
                            <td class="noBTable-info ">10Kg/亩</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="t-event-item">
                <span class="t-e-item-icon"></span>
                <div class="t-e-item-detail">
                    <span class="t-event-icon e-3"></span>
                    <table class="noBorderTable">
                        <tr>
                            <td class="noBTable-title">时间</td>
                            <td class="noBTable-colon">:</td>
                            <td class="noBTable-info ">2018-07-01</td>
                        </tr>
                        <tr>
                            <td class="noBTable-title">打药者</td>
                            <td class="noBTable-colon">:</td>
                            <td class="noBTable-info ">王哲林</td>
                        </tr>
                        <tr>
                            <td class="noBTable-title">药剂</td>
                            <td class="noBTable-colon">:</td>
                            <td class="noBTable-info ">驱虫剂</td>
                        </tr>
                        <tr>
                            <td class="noBTable-title">品牌</td>
                            <td class="noBTable-colon">:</td>
                            <td class="noBTable-info ">红太阳</td>
                        </tr>
                        <tr>
                            <td class="noBTable-title">供应商</td>
                            <td class="noBTable-colon">:</td>
                            <td class="noBTable-info ">杭州农产品肥料公司</td>
                        </tr>
                        <tr>
                            <td class="noBTable-title">用量</td>
                            <td class="noBTable-colon">:</td>
                            <td class="noBTable-info ">1000ml/亩</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="t-event-item">
                <span class="t-e-item-icon"></span>
                <div class="t-e-item-detail">
                    <span class="t-event-icon e-4"></span>
                    <table class="noBorderTable">
                        <tr>
                            <td class="noBTable-title">时间</td>
                            <td class="noBTable-colon">:</td>
                            <td class="noBTable-info ">2018-07-21</td>
                        </tr>
                        <tr>
                            <td class="noBTable-title">采摘者</td>
                            <td class="noBTable-colon">:</td>
                            <td class="noBTable-info ">张珊珊</td>
                        </tr>
                        <tr>
                            <td class="noBTable-title">采摘量</td>
                            <td class="noBTable-colon">:</td>
                            <td class="noBTable-info ">1吨</td>
                        </tr>
                        <tr>
                            <td class="noBTable-title">采摘方式</td>
                            <td class="noBTable-colon">:</td>
                            <td class="noBTable-info ">人工采摘</td>
                        </tr>
                        <tr>
                            <td class="noBTable-title">采摘天气</td>
                            <td class="noBTable-colon">:</td>
                            <td class="noBTable-info ">多云转晴</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
    {include file="publicinfo@publicinfo/footer"  /}
</div>
<!-- <div class="cards"> -->
<script type="text/javascript">
    if(!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)){
        document.getElementById('mainContent').style.width = '320px';
        document.getElementById('mainContent').className="mainContent diyScroll";
    }
</script>
<script type="text/javascript" src="__STATIC__/home/images_scsg/jquery.js"></script>
<script type="text/javascript" src="__STATIC__/home/images_scsg/swiper.min.js"></script>
<script type="text/javascript" src="__STATIC__/home/images_scsg/script.js"></script>
</body>

</html>