<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <title>碱地番茄全程追溯信息</title>
    <link rel="stylesheet" href="__STATIC__/home/images_scsg/swiper.min.css" />
    <link rel="stylesheet" href="__STATIC__/home/images_scsg/base.css" />
</head>
<body>
<div id="mainContent" class="mainContent feiliao">
    <!-- 肥料与农药 -->
    <div class="head">
        全生长期内使用的化肥详情
    </div>
    <div class="content">
        <div class="table-border">
            <table class="topHead-table">
                <thead>
                <tr>
                    <td class="table-title">日期</td>
                    <td class="table-title">名称</td>
                    <td class="table-title">用量(kg)</td>
                    <td class="table-title">品牌</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="table-info">2018<br>06-01</td>
                    <td class="table-info">尿素</td>
                    <td class="table-info">2.5kg/亩</td>
                    <td class="table-info">红太阳</td>
                </tr>
                <tr>
                    <td class="table-info">2018<br>06-01</td>
                    <td class="table-info">水溶肥</td>
                    <td class="table-info">2kg/亩</td>
                    <td class="table-info">金坷垃</td>
                </tr>
                <tr>
                    <td class="table-info">2018<br>06-01</td>
                    <td class="table-info">尿素</td>
                    <td class="table-info">2kg/亩</td>
                    <td class="table-info">红太阳</td>
                </tr>
                <tr>
                    <td class="table-info">2018<br>07-01</td>
                    <td class="table-info">水溶肥</td>
                    <td class="table-info">0.5kg/亩</td>
                    <td class="table-info">金坷垃</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="c-part-head">
            <span class="head-txt">尿素</span>
        </div>
        <div class="c-part-info">
            易保存，使用方便，对土壤的破坏作用小，是目前使用量较大的一种化学氮肥。
            <br>
            安全性描述：避免与皮肤和眼睛接触。
        </div>
        <div class="c-part-head">
            <span class="head-txt">水溶肥</span>
        </div>
        <div class="c-part-info">
            速效性肥料，水溶性好、无残渣，可以完全溶解于水中，能被作物的根系和叶面直接吸收利用。
        </div>
    </div>
    <!-- </div> -->
    {include file="publicinfo@publicinfo/footer"  /}
</div>
<!-- <div class="cards"> -->
<script type="text/javascript">
    if(!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)){
        document.getElementById('mainContent').style.width = '320px';
        document.getElementById('mainContent').className="mainContent feiliao diyScroll";
    }
</script>
<script type="text/javascript" src="__STATIC__/home/images_scsg/jquery.js"></script>
<script type="text/javascript" src="__STATIC__/home/images_scsg/swiper.min.js"></script>
<script type="text/javascript" src="__STATIC__/home/images_scsg/script.js"></script>
</body>

</html>