<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>云标签</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="applicable-device"content="pc,mobile"/>
    <link rel="stylesheet" href="__STATIC__/home/layui/css/layui.css">
    <link rel="stylesheet" href="__STATIC__/home/css/style.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1107505_xtbjq84ebde.css">
    <script src="__STATIC__/home/js/jquery-1.7.2.min.js"></script>
</head>
<body>
{include file="publicinfo@publicinfo/header" /}

<div id="wp" style="padding-top: 110px;">
    <div class="all-work-list">
        <div class="yun_position">

        </div>
    </div>
    <div class="all-work-list">
        <div class="lt yun_conter_lt">
            <div class="yun_conter_lt_title">{$templatData.title}</div>
            <div class="tu">

                <img src="{if $templatData.img == ''}__STATIC__/home/images/tpl_default.png{else/}__STATIC__/{$templatData.img}{/if}">
            </div>
        </div>

        <div class="rt">
            <div class="yun_conter_rt">
                <button class="layui-btn">
                    <i class="layui-icon">&#xe642;</i>在线编辑
                </button>
                <button class="layui-btn layui-btn-warm">
                    <a href="/index.php/member/userconter/hqmuban/template_id/{$templatData.template_id}"><i class="layui-icon">&#xe641;</i>添加收藏</a>
                </button>
                <a href="/index.php/order/preorder/index?templateId={$templatData.template_id}">
                <button class="layui-btn">
                    <i class="layui-icon">&#xe642;</i>立即下单
                </button>
                </a>
            </div>
            <div class="yun_conter_rt">
                <div class="yun_conter_rt_title"> ©可商用支持 VRF协议</div>
            </div>

            <div class="yun_conter_rt">
                <table class="layui-table" lay-skin="nob">
                    <colgroup>
                        <col width="80">
                        <col width="200">
                        <col>
                    </colgroup>
                    <tbody>
                    <tr>
                        <td><span><i class="layui-icon">&#xe62d;</i>纸张尺寸:</span></td>
                        <td><p>{$template_content_data.paper_size_long}{$template_content_data.paper_size_unit}*{$template_content_data.paper_size_long}{$template_content_data.paper_size_unit}</p></td>
                    </tr>
                    <tr>
                        <td><span><i class="layui-icon">&#xe62d;</i>标签尺寸:</span></td>
                        <td><p>{$template_content_data.lable_size_wide}{$template_content_data.lable_size_unit}*{$template_content_data.lable_size_height}{$template_content_data.lable_size_unit}</p></td>
                    </tr>
                    <tr>
                        <td><span><i class="layui-icon">&#xe60e;</i>发布时间:</span></td>
                        <td><p>{$templatData.create_time|date="y-m-d:H-i-s",###}  </p></td>
                    </tr>
                    </tbody>
                </table>
                <div class="line"></div>

                <table class="layui-table" lay-skin="nob">
                    <colgroup>
                        <col width="200">
                        <col width="200">
                        <col>
                    </colgroup>
                    <tbody>
                    <tr>
                        <td><span><i class="layui-icon">&#xe705;</i>浏览次数：</span></td>
                        <td><p>{$templatData.show_nums}</p></td>
                    </tr>
                    <tr>
                        <td><span><i class="layui-icon">&#xe609;</i>生成次数：</span></td>
                        <td><p>{$templatData.get_nums}</p></td>
                    </tr>
                    <tr>
                        <td><span><i class="layui-icon">&#xe66f;</i>发布人员：</span></td>
                        <td><p>{$templatData.admin_id}</p></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>









{include file="publicinfo@publicinfo/footer" /}
    <script src="__STATIC__/home/layui/layui.all.js"></script>
    <script>
        layui.use(['carousel', 'form'], function(){
            var carousel = layui.carousel
                ,form = layui.form;

            //常规轮播
            carousel.render({
                elem: '#test1'
                ,width: '1200px'
                ,height: '359px'
                ,interval: 3000
            });

        });
    </script>

</body>
</html>











