<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>列表页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="applicable-device"content="pc,mobile"/>
    <link rel="stylesheet" href="__STATIC__/home/layui/css/layui.css">
    <link rel="stylesheet" href="__STATIC__/home/css/style.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1107505_xtbjq84ebde.css">
    <script src="__STATIC__/home/js/jquery-1.7.2.min.js"></script>
    <script src="__STATIC__/home/js/select.js"></script>

</head>


<body>
{include file="publicinfo@publicinfo/header" /}
{include file="publicinfo@publicinfo/search" /}
<div id="wp" style="min-height:590px;">
    <div class="all-work-list">

        <div class="screen">
            <ul class="select">
                <li class="select-list">
                    <dl id="select1">
                        <dt>行业：</dt>
                        <dd class="select-all selected"><a onclick="removeCondition('IndustryId')" href="javascript:">全部</a></dd>
                        {foreach name='listUsageScenarios' id='data'}
                        <dd><a href="javascript:" onclick="req('IndustryId','{$data.id}')" >{$data.title}</a></dd>
                        {/foreach}
                    </dl>
                </li>
                <li class="select-list">
                    <dl id="select2">
                        <dt>场景：</dt>
                        <dd class="select-all selected"><a onclick="removeCondition('UsageScenariosId')" href="javascript:">全部</a></dd>
                        {foreach name='listIndustry' id='datas'}
                        <dd><a href="javascript:" onclick="req('UsageScenariosId','{$datas.id}')" >{$datas.title}</a></dd>
                        {/foreach}
                    </dl>
                </li>
                <li class="select-list">
                    <dl id="select3">
                        <dt>条码类型：</dt>
                        <dd class="select-all selected"><a onclick="removeCondition('ConfigTemplateCodeTypeId')" href="javascript:">全部</a></dd>
                        {foreach name='ConfigTemplateCodeType' id='datass' key='key'}
                        <dd><a href="javascript:" onclick="req('ConfigTemplateCodeTypeId','{$key} ')">{$datass}</a></dd>
                        {/foreach}
                    </dl>
                </li>
                <li class="select-result">
                    <dl>
                        <dt>已选条件：</dt>
                        <dd class="select-no">暂时没有选择过滤条件</dd>
                    </dl>
                </li>
            </ul>
        </div>
        <script>
            function req(a,b) {

                document.getElementById(a).setAttribute("value", b)
                var IndustryId = $("#IndustryId").attr("value");
                var UsageScenariosId = $("#UsageScenariosId").attr("value");
                var ConfigTemplateCodeTypeId = $("#ConfigTemplateCodeTypeId").attr("value");
                var a = ( !(IndustryId == "undefined" || IndustryId == null || IndustryId == ""))?("/IndustryId/"+IndustryId) : '';
                var b = ( !(UsageScenariosId == "undefined" || UsageScenariosId == null || UsageScenariosId == ""))?("/UsageScenariosId/"+UsageScenariosId) : '';
                var c = ( !(ConfigTemplateCodeTypeId == "undefined" || ConfigTemplateCodeTypeId == null || ConfigTemplateCodeTypeId == ""))?("/ConfigTemplateCodeTypeId/"+ConfigTemplateCodeTypeId) : '';
                $.ajax({
                    type: "get",
                    url: "/index.php/index/templates/chaxuns"+a+b+c,
                    data: $('#form1').serialize(),
                    success: function (result) {
                        $(".xu").empty();
                        for (var i =0; i<result.length; i++) {
                            var html='';
                            html+="  <li>";
                            html+=" <a href='#' target='_blank'>";
                            html+=" <div class='imgBox'>";
                            html+="<a href='/index.php/index/templates/content/template_id/"+result[i]['template_id']+"'>";
                            if (result[i]['img']==''){
                                img = "__STATIC__/home/images/tpl_default.png"
                            }else {
                                img = "__STATIC__/result[i]['img']"
                            }
                            html+=("<img width='260px' height='220px' src='"+img+"'/>");
                            html+=" </a>";
                            html+="</div>";
                            html+="</a>";
                            html+=" <div class='interactive-box'>";
                            html+="  <a href='#' target='_blank'>";
                            html+=" <h2>"+result[i]['title']+"</h2>";
                            html+=" </a>";
                            html+="<div class='data-box'>";
                            html+=" <div class='data-view'>";
                            html+="  <span>纸张尺寸</span>";
                            html+="<br><span> 标签尺寸</span>";
                            if (result[i]['userimg']==''){
                                userimg = "__STATIC__/home/images/user_default.jpg"
                            }else {
                                userimg = "__STATIC__/"+result[i]['userimg'];
                            }
                            html+="  <br><span><a class='user-list'><img src='"+userimg+"'>"+"</a>"+　result[i]['username']+"</span>";
                            html+=" </div><div class='data-like'>";
                            html+=result[i]['paper_size_long'];
                            html+=result[i]['paper_size_unit'];
                            html+="*";
                            html+=result[i]['paper_size_wide'];
                            html+=result[i]['paper_size_unit'];
                            html+="<br/>";
                            html+=result[i]['lable_size_wide'];
                            html+=result[i]['lable_size_unit'];
                            html+="*";
                            html+=result[i]['lable_size_height'];
                            html+=result[i]['lable_size_unit'];
                            html+="</div></div></div></li>";
                            $(".xu").append(html);
                        }
                    },
                });
            }
            // 移除筛选条件
            function removeCondition(id) {
                document.getElementById(id).setAttribute("value", '');
                var IndustryId = $("#IndustryId").attr("value");
                var UsageScenariosId = $("#UsageScenariosId").attr("value");
                var ConfigTemplateCodeTypeId = $("#ConfigTemplateCodeTypeId").attr("value");
                var a = ( !(IndustryId == "undefined" || IndustryId == null || IndustryId == ""))?("/IndustryId/"+IndustryId) : '';
                var b = ( !(UsageScenariosId == "undefined" || UsageScenariosId == null || UsageScenariosId == ""))?("/UsageScenariosId/"+UsageScenariosId) : '';
                var c = ( !(ConfigTemplateCodeTypeId == "undefined" || ConfigTemplateCodeTypeId == null || ConfigTemplateCodeTypeId == ""))?("/ConfigTemplateCodeTypeId/"+ConfigTemplateCodeTypeId) : '';
                $.ajax({
                    type: "get",
                    url: "/index.php/index/templates/chaxuns"+a+b+c,
                    data: $('#form1').serialize(),
                    success: function (result) {
                        $(".xu").empty();
                        for (var i =0; i<result.length; i++) {
                            var html='';
                            html+="  <li>";
                            html+=" <a href='#' target='_blank'>";
                            html+=" <div class='imgBox'>";
                            html+="<a href='/index.php/index/templates/content/template_id/"+result[i]['template_id']+"'>";
                            if (result[i]['img']==''){
                                img = "__STATIC__/home/images/tpl_default.png"
                            }else {
                                img = "__STATIC__/result[i]['img']"
                            }
                            html+=("<img width='260px' height='220px' src='"+img+"'/>");
                            html+=" </a>";
                            html+="</div>";
                            html+="</a>";
                            html+=" <div class='interactive-box'>";
                            html+="  <a href='#' target='_blank'>";
                            html+=" <h2>"+result[i]['title']+"</h2>";
                            html+=" </a>";
                            html+="<div class='data-box'>";
                            html+=" <div class='data-view'>";
                            html+="  <span>纸张尺寸</span>";
                            html+="<br><span> 标签尺寸</span>";
                            if (result[i]['userimg']==''){
                                userimg = "__STATIC__/home/images/user_default.jpg"
                            }else {
                                userimg = "__STATIC__/"+result[i]['userimg'];
                            }
                            html+="  <br><span><a class='user-list'><img src='"+userimg+"'>"+"</a>"+　result[i]['username']+"</span>";
                            html+=" </div><div class='data-like'>";
                            html+=result[i]['paper_size_long'];
                            html+=result[i]['paper_size_unit'];
                            html+="*";
                            html+=result[i]['paper_size_wide'];
                            html+=result[i]['paper_size_unit'];
                            html+="<br/>";
                            html+=result[i]['lable_size_wide'];
                            html+=result[i]['lable_size_unit'];
                            html+="*";
                            html+=result[i]['lable_size_height'];
                            html+=result[i]['lable_size_unit'];
                            html+="</div></div></div></li>";
                            $(".xu").append(html);
                        }
                    },
                });
            }
        </script>
        <form action="/index.php/index/templates/chaxuns" id="ti" method="get">
            <input type="hidden" name="IndustryId" id="IndustryId" class="IndustryId" value="">
            <input type="hidden" name="UsageScenariosId" id="UsageScenariosId" class="UsageScenariosId" value="">
            <input type="hidden" name="ConfigTemplateCodeTypeId" id="ConfigTemplateCodeTypeId" class="ConfigTemplateCodeTypeId" value="">
        </form>
        <div class="muban_list">
            <ul class="xu">
                {if condition="!empty($Popular)"}
                {foreach name='Popular' id='data'}
                <li>
                    <a href="#" target="_blank">
                        <div class="imgBox">
                            <a href="/index.php/index/templates/content/template_id/{$data.template_id}">
                                <img width="260px" height="220px" src="{if $data.img == ''}__STATIC__/home/images/tpl_default.png{else/}__STATIC__/{$data.img}{/if}">
                            </a>

                        </div>
                    </a>
                    <div class="interactive-box">
                        <a href="#" target="_blank">
                            <h2>{$data.title}</h2>
                        </a>
                        <div class="data-box">
                            <div class="data-view">
                                <span>纸张尺寸</span>
                                <br><span> 标签尺寸</span>
                                <br><span><a class="user-list"><img src="{if $data.userimg == ''}__STATIC__/home/images/user_default.jpg{else/}__STATIC__/{$data.userimg}{/if}"
                                                                    title="{$data.username}"
                                                                    alt="{$data.username}"></a>　{$data.username}</span>
                            </div>
                            <div class="data-like">
                                <span>{$data.paper_size_long}{$data.paper_size_unit}*{$data.paper_size_wide}{$data.paper_size_unit}</span>
                                <br><span>{$data.lable_size_wide}{$data.paper_size_unit}*{$data.lable_size_height}{$data.paper_size_unit}</span>
                                <br><span>被获取打印<b style="color: #FF6262">{$data.get_nums}</b>次</span>
                            </div>
                        </div>
                    </div>
                </li>
                {/foreach}
                {else/}
                <p>无数据</p>
                {/if}
            </ul>
        </div>

        <div id="laypage88" style="text-align: center;">
            <div class="layui-box layui-laypage layui-laypage-default" id="layui-laypage-7" style="width:100%;">
                {if condition="!empty($Popular)"}
                {$page}
                {/if}
            </div>
        </div>

    </div>
</div>

{include file="publicinfo@publicinfo/footer" /}
<script src="__STATIC__/home/layui/layui.all.js"></script>
<script>
    layui.use(['carousel', 'form'], function () {
        var carousel = layui.carousel
            , form = layui.form;

        //常规轮播
        carousel.render({
            elem: '#test1'
            , width: '1200px'
            , height: '359px'
            , interval: 3000
        });

    });
</script>

</body>
</html>







