<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    　　<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
{include file="publicinfo@publicinfo/header" /}
<hr>
<form id="form-inline" class="form-inline">
    <div class="form-group">
        <input type="text" value="" name="value" class="form-control" id="exampleInputEmail2" placeholder="请输入搜索内容">
    </div>
    <button type="button" onclick="log()" class="btn btn-default">搜索</button>
</form>


<hr>
<div>
    行业 :{foreach name='listIndustry' id='data'}
    <a href="">{$data.title}</a>||

    {/foreach}    <hr>
    场景：{foreach name='listUsageScenarios' id='data'}
    <a href="">{$data.title}</a>||
    {/foreach} <hr>
    条码分类：{foreach name='ConfigTemplateCodeType' id='data'}
    <a href="">{$data}</a>||
    {/foreach} <hr>
    <div class="ss" id="ss">

    </div>
    <div class="content" id="content">
        热门模板：
        <hr>
        {foreach name='Popular' id='data'}
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="{$data.img}" alt="...">
                    <div class="caption">
                        <h3>{$data.title}</h3>
                        <p>被生成打印{$data.get_nums}</p>
                        <p>纸张尺寸：{$data.paper_size_long}{$data.paper_size_unit}*{$data.paper_size_wide}{$data.paper_size_unit}</p>
                        <p>标签尺寸：{$data.lable_size_wide}{$data.paper_size_unit}*{$data.lable_size_height}{$data.paper_size_unit}</p>
                        <input type="hidden" value="{$data.template_id}" class="tijiao{$data.template_id}">
                        <input type="hidden" value="{$data.template_id}" class="tijiao{$data.template_id+1}">
                        <p><a href="#" id="btn-primary"  class="btn btn-primary" role="button">获取模板</a> <a href="#" id="btn-default" class="btn btn-default" role="button">查看模板</a></p>
                    </div>
                </div>
            </div>
        </div>
        {/foreach}
        <hr>
        最新模板：
        <hr>
        {foreach name='cas' id='data'}
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="{$data.img}" alt="...">
                    <div class="caption">
                        <h3>{$data.title}</h3>
                        <p>被生成打印{$data.get_nums}</p>
                        <p>纸张尺寸：{$data.paper_size_long}{$data.paper_size_unit}*{$data.paper_size_wide}{$data.paper_size_unit}</p>
                        <p>标签尺寸：{$data.lable_size_wide}{$data.paper_size_unit}*{$data.lable_size_height}{$data.paper_size_unit}</p><input type="hidden" value="{$data.template_id}" class="tijiao{$data.template_id}">
                        <input type="hidden" value="{$data.template_id}" class="tijiao{$data.template_id+1}">
                        <input type="hidden" value="{$data.template_id}" class="tijiao{$data.template_id+2}">
                        <p><a href="#" id="btn-primary{$data.template_id}"  class="btn btn-primary" role="button">获取模板</a> <a href="#" id="btn-default{$data.template_id}" class="btn btn-default" role="button">查看模板</a></p>
                    </div>
                </div>
            </div>
        </div>
        {/foreach}
    </div>
    <hr>
</div>
<script type="text/javascript">
    function log() {
        $(document).ready(function(){
            $.ajax({
                type: "post",
                data: $('#form-inline').serialize(),
                url: "/index.php/index/home/ss",
                dataType: "json",
                success: function (fly) {
                    $("#content").remove();
                    $.each(fly, function(index, value){

                        $("#ss").append("<div class='content' id='content'>");
                        $("#ss").append(" <div class='row'>");
                        $("#ss").append(" <div class='col-sm-6 col-md-4'>");
                        $("#ss").append("  <div class='thumbnail'>");
                        $("#ss").append("<img src="+value['img']+">");
                        $("#ss").append("   <div class='caption'>");
                        $("#ss").append(" <h3>"+value['title']+"</h3>");
                        $("#ss").append(" <p>被生成打印"+value['get_nums']+"</p>");
                        $("#ss").append("  <p>标签尺寸："+value['lable_size_wide']+value['paper_size_unit']+"*"+value['lable_size_height']+value['paper_size_unit']+"</p>");
                        $("#ss").append("<p>纸张尺寸："+value['paper_size_long']+value['paper_size_unit']+"*"+value['paper_size_wide']+value['paper_size_unit']+"</p>");
                        $("#ss").append("<input type='hidden' value='"+value['template_Id']+"'"+"class='btn btn-primary"+value['template_id']+"'"+">");
                        $("#ss").append("<a href='index.php/member/userconter/hqmuban/memberid/"+value['member_id']+"/temaplate_id/"+value['template_id']+"'"+" id='btn-primary"+value['template_id']+"'"+"class='btn btn-primary' role='button'"+">获取"+"</a>");
                        $("#ss").append("<a href='' id='btn btn-default"+value['template_id']+"'"+"class='btn btn-default' role='button'"+">查看"+"</a>");
                        $("#ss").append("  </div>");
                        $("#ss").append("  </div>");
                        $("#ss").append("  </div>");
                        $("#ss").append("  </div>");
                        $("#ss").append("  </div>");

                    });
                }
            })
        })
    }

</script>

</body>
</html>