<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>权限管理-系统角色</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/images/style.css"/>
    <link type="text/css" rel="stylesheet" href="__STATIC__/admin/css/page.css"/>
    <script type="text/javascript" src="__STATIC__/admin/js/myString.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/function.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/PublicUser.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/city.js"></script>
</head>

<body>
<div class="cont_title">　你当前的位置：权限管理 -系统角色</div>

<div class="con">

    <div class="conlist">

        <form  method="post" action="__URL__/editinfo/action/save?">
            <table class="listtable">
                <tr class="tr1">
                    <td colspan="4" class="tit">列表　</td>
                    <td   class="tdlist">
                        <a href="__URL__/add">{if auth('auth/systemrole/add') }<input type="button" name="" class="buttomorger"  value="添加" />{/if}</a>
                    </td>
                </tr>
                <tr class="tr1">
                    <td class="tdtit">ID</td>
                    <td class="tdtit">名称</td>
                    <td class="tdtit">描述</td>
                    <td class="tdtit">状态</td>
                    <td class="tdtit">操作</td>
                </tr>
                {foreach $List as $value}
                <tr class="tr1">
                    <td class="tdlist">{$value['role_id']}&nbsp;</td>
                    <td class="tdlist">{$value['title']}&nbsp;</td>
                     <td class="tdlist">{$value['data_desc']}&nbsp;</td>
                    <td class="tdlist">
                        {if auth('auth/systemrole/edit') }
                            {if $value['data_status'] eq 0}
                            <a href="__URL__/editinfo/action/checkStatus/id/{$value['role_id']}/Status/1" ><font color="#ff0000">未审</font></a>
                            {else}
                            <a href="__URL__/editinfo/action/checkStatus/id/{$value['role_id']}/Status/0" ><font color="#006600">已审</font></a>
                            {/if}
                        {else}
                            {if $value['data_status'] eq 0}
                            <font color="#ff0000">未审</font>
                            {else}
                            <font color="#006600">已审</font>
                            {/if}
                        {/if}
                    </td>
                    <td class="tdlist">
                        {if auth('auth/systemrole/edit') }
                        [<a href="__URL__/edit/id/{$value['role_id']}">编辑</a>]
                        {/if}
                        {if auth('auth/roleauth/index') }
                        [<a href="{:url('roleauth/index')}?role_id={$value['role_id']}">编辑权限</a>]
                        {/if}
                    </td>
                </tr>
                {/foreach}

                {if $count eq 0}
                <tr class="tr1">
                    <td colspan="5" class="tdlist">暂无相关记录！ </td>
                </tr>
                {/if}

            </table>

        </form>

    </div>

</div>


</div>
</body>
</html>