<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>用户列表</title>
	<link rel="stylesheet" type="text/css" href="__STATIC__/admin/images/style.css"/>
    <script type="text/javascript" src="__STATIC__/admin/js/jquery.js"></script>
	<script type="text/javascript" src="__STATIC__/admin/js/myString.js"></script>
	<script type="text/javascript" src="__STATIC__/admin/js/function.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/PublicUser.js"></script>
</head>
<body>
 <div class="cont_title">　你当前的位置：后台管理&nbsp;-&nbsp; 系统管理员&nbsp;-&nbsp; 管理员列表</div>
    
    <div class="con">
    
    	<div class="conlist">
        
     	<table class="listtable">
            	<tr class="tr1">
                	<td colspan="6" class="tit">管理员列表</td>
                    <td  class="tit">　
                        {if auth('admin/admin/add') }
                        <a href="__URL__/add"><input type="button"  value="添加管理员" class="buttomorger100" /> </a>
                        {/if}
                    </td>
                </tr>
                <tr class="tr1">
                    <td class="tdtit">ID</td>
                    <td class="tdtit">名字</td>
                    <td class="tdtit">类型</td>
                    <td class="tdtit">角色</td>
                    <td class="tdtit">电话</td>
                    <td class="tdtit">状态</td>
                   <td class="tdtit">操作</td>
                </tr>
                {foreach $list as $vo}
                            <tr class="tr1">
                                <td class="tdlist">{$vo['admin_id']}</td>
                                <td class="tdlist">{$vo['name']}</td>
                                <td class="tdlist">
                                    {if $vo['data_type'] eq 1}系统管理员
                                    {elseif $vo['data_type'] eq 2/}商家管理员
                                    {/if}
                                </td>
                                <td class="tdlist">{$vo['role_title']}</td>
                                <td class="tdlist">{$vo['tel']}</td>
                                <td class="tdlist">
                                 {if auth('admin/admin/editinfo') }
                                    {if $vo['name'] eq 'admin'}
                                        <font color="#006600">正常</font>
                                    {else}
                                        {if $vo['data_status'] eq 0}
                                        <a href="__URL__/editinfo/action/checkStatus/id/{$vo['admin_id']}/Status/1" ><font color="#ff0000">冻结</font></a>
                                        {else}
                                        <a href="__URL__/editinfo/action/checkStatus/id/{$vo['admin_id']}/Status/0" ><font color="#006600">正常</font></a>
                                        {/if}
                                    {/if}
                                 {else}
                                    {if $vo['data_status'] eq 0}
                                    <font color="#ff0000">冻结</font>
                                    {else}
                                    <font color="#006600">正常</font>
                                    {/if}
                                 {/if}
                                </td>
                                <td class="tdlist">
                                    {if $vo['name'] eq 'admin'}
                                        [重置密码]&nbsp;
                                        [修改]&nbsp;
                                    {else}
                                        {if auth('admin/admin/setpwd') }
                                        [<a href="__URL__/setpwd/id/{$vo['admin_id']}">重置密码</a>]&nbsp;
                                        {/if}
                                        {if auth('admin/admin/edit') }
                                        [<a href="__URL__/edit/id/{$vo['admin_id']}">修改</a>]&nbsp;
                                        {/if}
                                    {/if}
                                </td>
                            </tr>
               {/foreach}
            </table>
           
            
        </div>
    
    </div>
    
 
</div>



</body>
</html>