


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>系统管理员</title>
    <link rel="stylesheet" href="__STATIC__/admin/layui/css/layui.css">
    <link rel="stylesheet" href="__STATIC__/admin/css/style.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1107505_d0oe8omhr1m.css">
    <script type="text/javascript" src="__STATIC__/admin/js/jquery-1.8.0.min.js"></script>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <!-- 内容主体区域 -->
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <div class="bgzt">
                <div class="box-center">
                    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                        <ul class="layui-tab-title tab_tatle">
                            {if auth('admin/admin/index')}
                            <li>
                                <a href="/admin.php/admin/admin/index"><p class="Order1">管理员列表</p></a>
                            </li>
                            {/if}
                            {if auth('admin/admin/add')}
                            <li>
                                <a href="/admin.php/admin/admin/add"><p class="Order1">添加管理员</p></a>
                            </li>
                            {/if}
                            {if auth('admin/adminoperatelog/index')}
                            <li>
                                <a href="/admin.php/admin/adminoperatelog/index"><p class="Order1">操作记录</p></a>
                            </li>
                            {/if}
                            {if auth('admin/admin/modifypwd')}
                            <li>
                                <a href="/admin.php/admin/admin/modifypwd"><p class="Order1">修改密码</p></a>
                            </li>
                            {/if}
                            {if auth('admin/adminshare/index')}
                            <li class="layui-this">
                                <a href="/admin.php/admin/adminshare/index"><p class="Order1">分享注册</p></a>
                            </li>
                            {/if}
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                <div class="liebiao">
                                    <table class="layui-table">
                                        <colgroup>
                                            <col width="150">
                                            <col width="200">
                                        </colgroup>
                                        <thead>
                                        <tr>
                                            <th>分享地址</th>
                                            <th style="padding-top:5px;" id="biao1">{$share_url}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th colspan="2" class="tdr" style="padding-top:5px;" onClick="copyUrl2()">
                                                <span>点击复制</span>
                                            </th>
                                        </tr>
                                        </tbody>
                                    </table>


                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
<script src="__STATIC__/admin/layui/layui.all.js"></script>
<script type="text/javascript">
    function copyUrl2()
    {
        var Url2=document.getElementById("biao1").innerText;
        var oInput = document.createElement('input');
        oInput.value = Url2;
        document.body.appendChild(oInput);
        oInput.select(); // 选择对象
        document.execCommand("Copy"); // 执行浏览器复制命令
        oInput.className = 'oInput';
        oInput.style.display='none';
        alert('复制成功');
    }
</script>
</body>
</html>
