<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>登录记录页面</title>
    <link rel="stylesheet" href="__STATIC__/admin/layui/css/layui.css">
    <link rel="stylesheet" href="__STATIC__/admin/css/style.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1107505_d0oe8omhr1m.css">
    <script type="text/javascript" src="__STATIC__/admin/js/jquery-1.8.0.min.js"></script>

</head>
<body>
<div class="layui-layout layui-layout-admin">
    <!-- 内容主体区域 -->
    <div class="layui-tab-content">

        <div class="layui-tab-item layui-show">


            <div class="bgzt">
                <div class="box-center">
                    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                        <ul class="layui-tab-title tab_tatle">
                            {if auth('admin/admin/index')}
                            <li class="layui-this">
                                <a href="/admin.php/admin/admin/index"><p class="Order1">管理员列表</p></a>
                            </li>
                            {/if}
                            {if auth('admin/admin/add')}
                            <li>
                                <a href="/admin.php/admin/admin/add"><p class="Order1">添加管理员</p></a>
                            </li>
                            {/if}
                            {if auth('admin/adminoperatelog/index')}
                            <li>
                                <a href="/admin.php/admin/adminoperatelog/index"><p class="Order1">操作记录</p></a>
                            </li>
                            {/if}
                            {if auth('admin/admin/modifypwd')}
                            <li>
                                <a href="/admin.php/admin/admin/modifypwd"><p class="Order1">修改密码</p></a>
                            </li>
                            {/if}
                            {if auth('admin/adminshare/index')}
                            <li>
                                <a href="/admin.php/admin/adminshare/index"><p class="Order1">分享注册</p></a>
                            </li>
                            {/if}


                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                <div class="liebiao">
                                    <table class="layui-table" lay-skin="line" lay-size="sm">
                                        <thead>
                                        <tr>
                                            <th><input type="checkbox"></th>
                                            <td class="tdtit">ID</td>
                                            <td class="tdtit">名字</td>
                                            <td class="tdtit">类型</td>
                                            <td class="tdtit">角色</td>
                                            <td class="tdtit">电话</td>
                                            <td class="tdtit">状态</td>
                                            <td class="tdtit">操作</td>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {foreach $list as $vo}
                                        <tr class="tr1">
                                            <td><input type="checkbox"></td>
                                            <td class="tdlist">{$vo['admin_id']}</td>
                                            <td class="tdlist">{$vo['name']}</td>
                                            <td class="tdlist">
                                                {if $vo['data_type'] eq 1}系统管理员
                                                {elseif $vo['data_type'] eq 2/}商家管理员
                                                {/if}
                                            </td>

                                            <td class="tdlist">{$vo['role_title']}</td>
                                            <td class="tdlist">{$vo['tel']}</td>
                                            <td class="tdlist">

                                                {if auth('admin/admin/editinfo') }
                                                {if $vo['name'] eq 'admin'}
                                                <font color="#006600">正常</font>
                                                {else}
                                                {if $vo['data_status'] eq 0}
                                                <a href="__URL__/editinfo/action/checkStatus/id/{$vo['admin_id']}/Status/1" ><font color="#ff0000">冻结</font></a>
                                                {else}
                                                <a href="__URL__/editinfo/action/checkStatus/id/{$vo['admin_id']}/Status/0" ><font color="#006600">正常</font></a>
                                                {/if}
                                                {/if}
                                                {else}
                                                {if $vo['data_status'] eq 0}
                                                <font color="#ff0000">冻结</font>
                                                {else}
                                                <font color="#006600">正常</font>
                                                {/if}
                                                {/if}
                                            </td>



                                            {if $vo['name'] eq 'admin'}
                                            <td style="color: #141a20">编辑</td>
                                            {else}
                                            {if auth('admin/admin/setpwd') }
                                            <td><a href="/admin.php/admin/admin/edit/id/{$vo['admin_id']}">编辑</a></td>
                                            {/if}
                                            {/if}




                                        </tr>
                                        {/foreach}


                                        </tbody>
                                    </table></div>
                                <div id="laypage88" style="text-align: center;">
                                    <div class="layui-box layui-laypage layui-laypage-default" id="layui-laypage-7"> <a href="javascript:;" class="layui-laypage-prev layui-disabled" data-page="0">上一页</a> <span class="layui-laypage-curr"> <em class="layui-laypage-em"></em><em>1</em></span> <a href="javascript:;" data-page="2">2</a> <a href="javascript:;" data-page="3">3</a> <a href="javascript:;" data-page="4">4</a> <a href="javascript:;" data-page="5">5</a> <a href="javascript:;" class="layui-laypage-next" data-page="2">下一页</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>
<script src="__STATIC__/admin/layui/layui.all.js"></script>
</body>
</html>




