


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>登录记录页面</title>
    <link rel="stylesheet" href="__STATIC__/admin/layui/css/layui.css">
    <link rel="stylesheet" href="__STATIC__/admin/css/style.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1107505_d0oe8omhr1m.css">
    <script type="text/javascript" src="__STATIC__/admin/js/jquery-1.8.0.min.js"></script>

</head>
<body>
<div class="layui-layout layui-layout-admin">
    <!-- 内容主体区域 -->
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <div class="bgzt">
                <div class="box-center">
                    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                        <ul class="layui-tab-title tab_tatle">
                            {if auth('admin/admin/index')}
                            <li>
                                <a href="/admin.php/admin/admin/index"><p class="Order1">管理员列表</p></a>
                            </li>
                            {/if}
                            {if auth('admin/admin/add')}
                            <li>
                                <a href="/admin.php/admin/admin/add"><p class="Order1">添加管理员</p></a>
                            </li>
                            {/if}
                            {if auth('admin/adminoperatelog/index')}
                            <li>
                                <a href="/admin.php/admin/adminoperatelog/index"><p class="Order1">操作记录</p></a>
                            </li>
                            {/if}
                            {if auth('admin/admin/modifypwd')}
                            <li  class="layui-this">
                                <a href="/admin.php/admin/admin/modifypwd"><p class="Order1">修改密码</p></a>
                            </li>
                            {/if}
                            {if auth('admin/adminshare/index')}
                            <li>
                                <a href="/admin.php/admin/adminshare/index"><p class="Order1">分享注册</p></a>
                            </li>
                            {/if}
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                <div class="liebiao">
                                    <form class="layui-form" action="__URL__/modifypwdupdate" enctype="multipart/form-data" method="post">
                                        <input type="hidden" name="admin_id" value="{$Think.session.adminid}" />  <div class="layui-form-item">
                                        <label class="layui-form-label">新密码</label>
                                        <div class="layui-input-block">
                                            <input style="width: 190px;" type="password" name="adminpwd1" required
                                                   lay-verify="required" placeholder="请输入密码" autocomplete="off"
                                                   class="layui-input">
                                        </div>
                                    </div>

                                        <div class="layui-form-item">
                                            <label class="layui-form-label">老密码</label>
                                            <div class="layui-input-inline">
                                                <input style="width: 190px;" type="password" name="adminpwd2" required
                                                       lay-verify="required" placeholder="请输入密码" autocomplete="off"
                                                       class="layui-input">
                                            </div>

                                        </div>

                                        <div class="layui-form-item">
                                            <label class="layui-form-label">确认密码</label>
                                            <div class="layui-input-block">
                                                <input style="width: 190px;" type="password" name="adminpwd3" required
                                                       lay-verify="required" placeholder="确认密码" autocomplete="off"
                                                       class="layui-input">
                                                <div id="fuz" class="layui-form-mid layui-word-aux"></div>
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <div class="layui-input-block">
                                                <button id="xiugai" class="layui-btn" lay-submit lay-filter="formDemo">修改</button>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script src="__STATIC__/admin/layui/layui.all.js"></script>
<script>
    layui.use(['form', 'laydate'], function () {
        var form = layui.form
            , laydate = layui.laydate;

        // 时间选择
        laydate.render({
            elem: '#tool-time',
            format: 'yyyy-MM-dd HH:mm:ss'
            ,
            theme: '#0f88eb'
        });
        // 时间选择2
        laydate.render({
            elem: '#tool-time2',
            format: 'yyyy-MM-dd HH:mm:ss'
            ,
            theme: '#0f88eb'
        });
// 时间选择3
        laydate.render({
            elem: '#tool-time3',
            format: 'yyyy-MM-dd HH:mm:ss'
            ,
            theme: '#0f88eb'
        });
        // 时间选择4
        laydate.render({
            elem: '#tool-time4',
            format: 'yyyy-MM-dd HH:mm:ss'
            ,
            theme: '#0f88eb'
        });

        // 时间选择5
        laydate.render({
            elem: '#tool-time5',
            format: 'yyyy-MM-dd HH:mm:ss'
            ,
            theme: '#0f88eb'
        });
    });
</script>
<script>
    var j = 3;


    function delecttr(obj) {
        var tr = obj.parentNode.parentNode;
        tr.parentNode.removeChild(tr);
    }

</script>
</body>
</html>