


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>业务员管理</title>
    <link rel="stylesheet" href="__STATIC__/admin/layui/css/layui.css">
    <link rel="stylesheet" href="__STATIC__/admin/css/style.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1107505_d0oe8omhr1m.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/images/style.css"/>
    <link type="text/css" rel="stylesheet" href="__STATIC__/admin/css/page.css"/>
    <script type="text/javascript" src="__STATIC__/admin/js/jquery-1.8.0.min.js"></script>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <!-- 内容主体区域 -->
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <div class="bgzt">
                <div class="box-center">
                    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                        <ul class="layui-tab-title tab_tatle">
                            {if auth('salesman/salesman/index') }
                            <a href="__ROOT__/admin.php/salesman/salesman/index" target="mainframe">
                                <li>
                                    <p class="Order1">业务员列表</p>
                                </li>
                            </a>
                            {/if}
                            {if auth('salesman/divideinto/index') }
                            <a href="__ROOT__/admin.php/salesman/divideinto/index">
                                <li  class="layui-this">
                                    <p class="Order1">业务员分成</p>
                                </li>
                            </a>
                            {/if}
                            {if auth('salesman/salesman/add') }
                            <a href="__ROOT__/admin.php/salesman/salesman/add">
                                <li>
                                    <p class="Order1">添加业务员</p>
                                </li>
                            </a>
                            {/if}
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                <div class="liebiao">
                                    <div class="bgzt">
                                        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">


                                            <div class="layui-tab-content">
                                                <div class="layui-tab-item layui-show">
                                                    <form class="layui-form" method="get" action="__URL__/index">
                                                        <div class="layui-form-item">
                                                            <label class="layui-form-label">业务员名称</label>
                                                            <div class="layui-input-block">
                                                                <input type="text" name="SearchTitle" id="SearchTitle" value="{$SearchTitle}" />　
                                                            </div>
                                                        </div>

                                                        <div class="layui-form-item">
                                                            <label class="layui-form-label">联系电话</label>
                                                            <div class="layui-input-inline">
                                                                <input type="text" name="SearchTel" id="SearchTel" value="{$SearchTel}" />　</div>
                                                        </div>

                                                        <div class="layui-inline">
                                                            <label class="layui-form-label">入职日期</label>
                                                            <div class="layui-input-inline">
                                                                <input type="text" name="SearchBeginTime" id="SearchBeginTime" value="{$SearchBeginTime}" class="Wdate" onClick="WdatePicker({minDate:'2018-01-01',maxDate:'{:date('Y-m-d')}'})"  />　
                                                                至
                                                                <input type="text" name="SearchEndTime" id="SearchEndTime" value="{$SearchEndTime}" class="Wdate" onClick="WdatePicker({minDate:'2018-01-01',maxDate:'{:date('Y-m-d')}'}'})"  />
                                                            </div>
                                                        </div>

                                                        <div class="layui-form-item">
                                                            <div class="layui-input-block">
                                                                <button class="layui-btn" lay-submit lay-filter="formDemo">查找</button>
                                                            </div>
                                                        </div>
                                                    </form>







                                                    <div class="liebiao">
                                                        <table class="layui-table" lay-skin="line" lay-size="sm">
                                                            <thead>
                                                            <tr>
                                                                <td class="tdtit">序号</td>
                                                                <td class="tdtit">业务员</td>
                                                                <td class="tdtit">姓别</td>
                                                                <td class="tdtit">分成比例</td>
                                                                <td class="tdtit">推广人数</td>
                                                                <td class="tdtit">分成</td>
                                                                <td class="tdtit">时间</td>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {foreach $List as $value}
                                                            <tr class="tr1">
                                                                <td class="tdlist">{$value['admin_id']}&nbsp;</td>
                                                                <td class="tdlist">{$value['name']}&nbsp;</td>
                                                                <td class="tdlist">{:$value['sex']===1 ? '女' : '男'}&nbsp;</td>
                                                                <td class="tdlist">{$value['divide_into']}</td>
                                                                <td class="tdlist">{$value['count_village']}&nbsp;</td>
                                                                <td class="tdlist"><i class="lusheji lusheji_iconjinbi"></i>{$value['sum_BillEntryAmountYZF']}
                                                                </td>
                                                                <td class="tdlist">
                                                                    {$SearchBeginTime} ~ {$SearchEndTime}
                                                                </td>
                                                            </tr>
                                                            {/foreach}

                                                            {if $count eq 0}
                                                            <tr class="tr1">
                                                                <td colspan="7" class="tdlist">暂无相关记录！</td>
                                                            </tr>
                                                            {/if}
                                                            <tr class="tr1">
                                                                <td class="tdlist">订单总金额</td>
                                                                <td class="tdlist"></td>
                                                                <td class="tdlist"></td>
                                                                <td class="tdlist"></td>
                                                                <td class="tdlist"></td>
                                                                <td class="tdlist">{$data['sumTotalYZF']}</td>
                                                                <td class="tdlist">{$SearchBeginTime} ~ {$SearchEndTime}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>

                                                    </div>
                                                    <div id="laypage88" style="text-align: center;">
                                                        <div class="layui-box layui-laypage layui-laypage-default" id="layui-laypage-7" style="width:100%;">
                                                            {$page}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
<script src="__STATIC__/admin/layui/layui.all.js"></script>

</body>
</html>










