<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>业务员管理</title>
    <link rel="stylesheet" href="__STATIC__/admin/layui/css/layui.css">
    <link rel="stylesheet" href="__STATIC__/admin/css/style.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1107505_d0oe8omhr1m.css">
    <script type="text/javascript" src="__STATIC__/admin/js/jquery-1.8.0.min.js"></script>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <!-- 内容主体区域 -->
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <div class="bgzt">
                <div class="box-center">
                    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                        <ul class="layui-tab-title tab_tatle">
                            {if auth('salesman/salesman/index') }
                            <a href="__ROOT__/admin.php/salesman/salesman/index" target="mainframe">
                                <li>
                                    <p class="Order1">业务员列表</p>
                                </li>
                            </a>
                            {/if}
                            {if auth('salesman/divideinto/index') }
                            <a href="__ROOT__/admin.php/salesman/divideinto/index">
                                <li>
                                    <p class="Order1">业务员分成</p>
                                </li>
                            </a>
                            {/if}
                            {if auth('salesman/salesman/add') }
                            <a href="__URL__/add">
                                <li class="layui-this">
                                    <p class="Order1">添加业务员</p>
                                </li>
                            </a>
                            {/if}
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                <div class="liebiao">



                        <form class="layui-form" action="__URL__/insert" method="post">
                            <input type="hidden" name="submitType" value="1" />
                            <div class="layui-form-item">
                                <label class="layui-form-label">用户名</label>
                                <div class="layui-input-block">
                                    <input style="width: 190px;" type="text" name="name" required  lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">密码框</label>
                                <div class="layui-input-inline">
                                    <input style="width: 190px;" type="password" name="pwd" required   class="layui-input">
                                </div>

                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">性别</label>
                                <div class="layui-input-block">
                                    <select name="sex">
                                        <option value="0" selected>男</option>
                                        <option value="1">女</option>
                                    </select>
                                </div>
                            </div>


                            <div class="layui-inline">
                                <label class="layui-form-label">入职日期</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" id="tool-time3" name="job_in_time" placeholder="yyyy-MM-dd">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">分成比例</label>
                                <div class="layui-input-block">
                                    <input style="width: 190px;"  type="text" name="divide_into" required  lay-verify="required" placeholder="请输入分成比例" autocomplete="off" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">电话</label>
                                <div class="layui-input-inline">
                                    <input style="width: 190px;" type="text" name="tel"   class="layui-input">
                                </div>

                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">状态：</label>
                                <div class="layui-input-inline">
                                    <input type="radio" name="data_status" value="0" checked />已离职　
                                    <input type="radio" name="data_status" value="1"  />在职&nbsp;
                                </div>

                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">备注：</label>
                                <div class="layui-input-inline">
                                    <td class="tdr" style="padding-top:5px;"><textarea name="data_desc"  rows="5" id="data_desc" onKeyPress="return noStrs(event);"  cols="60"></textarea>  </td>
                                </div>

                            </div>

                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即添加</button>
                                    <input  class="layui-btn" type="button" name="button" value="返回"  class="buttomgray" onClick="javascript:history.go(-1);" />
                                </div>
                            </div>
                        </form>
                                </div></div></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--业务员管理结束-->


<script src="__STATIC__/admin/layui/layui.all.js"></script>
<script>
    layui.use(['form', 'laydate'], function () {
        var form = layui.form
            , laydate = layui.laydate;

        // 时间选择
        laydate.render({
            elem: '#tool-time',
            format: 'yyyy-MM-dd HH:mm:ss'
            ,
            theme: '#0f88eb'
        });
        // 时间选择2
        laydate.render({
            elem: '#tool-time2',
            format: 'yyyy-MM-dd HH:mm:ss'
            ,
            theme: '#0f88eb'
        });
// 时间选择3
        laydate.render({
            elem: '#tool-time3',
            format: 'yyyy-MM-dd HH:mm:ss'
            ,
            theme: '#0f88eb'
        });
        // 时间选择4
        laydate.render({
            elem: '#tool-time4',
            format: 'yyyy-MM-dd HH:mm:ss'
            ,
            theme: '#0f88eb'
        });

        // 时间选择5
        laydate.render({
            elem: '#tool-time5',
            format: 'yyyy-MM-dd HH:mm:ss'
            ,
            theme: '#0f88eb'
        });
    });
</script>
<script>
    var j = 3;

    function addtr() {
        var tableobj = document.getElementById("tid");
        var trobj = document.createElement("tr");
        for (var i = 0; i < 1; i++) {
            var tdobj = document.createElement("td");
            tdobj.innerHTML = "<input type='text' name='title' lay-verify='title' autocomplete='off' placeholder='请输入分类名称' class='layui-input'>";
            trobj.appendChild(tdobj);
        }
        var tdobj = document.createElement("td");
        tdobj.innerHTML = "<i class='lusheji lusheji_iconshanchu' onclick='delecttr(this)'></i>";
        trobj.appendChild(tdobj);
        tableobj.appendChild(trobj);
    }

    function addtr2() {
        var tableobj = document.getElementById("tid2");
        var trobj = document.createElement("tr");
        for (var i = 0; i < 1; i++) {
            var tdobj = document.createElement("td");
            tdobj.innerHTML = "<input type='text' name='title' lay-verify='title' autocomplete='off' placeholder='请输入分类名称' class='layui-input'>";
            trobj.appendChild(tdobj);
        }
        var tdobj = document.createElement("td");
        tdobj.innerHTML = "<i class='lusheji lusheji_iconshanchu' onclick='delecttr(this)'></i>";
        trobj.appendChild(tdobj);
        tableobj.appendChild(trobj);
    }

    function addtr3() {
        var tableobj = document.getElementById("tid3");
        var trobj = document.createElement("tr");
        for (var i = 0; i < 1; i++) {
            var tdobj = document.createElement("td");
            tdobj.innerHTML = "<input type='text' name='title' lay-verify='title' autocomplete='off' placeholder='请输入分类名称' class='layui-input'>";
            trobj.appendChild(tdobj);
        }
        var tdobj = document.createElement("td");
        tdobj.innerHTML = "<i class='lusheji lusheji_iconshanchu' onclick='delecttr(this)'></i>";
        trobj.appendChild(tdobj);
        tableobj.appendChild(trobj);
    }


    function addtr4() {
        var tableobj = document.getElementById("tid4");
        var trobj = document.createElement("tr");
        for (var i = 0; i < 1; i++) {
            var tdobj = document.createElement("td");
            tdobj.innerHTML = "<input type='text' name='title' lay-verify='title' autocomplete='off' placeholder='请输入分类名称' class='layui-input'>";
            trobj.appendChild(tdobj);
        }
        var tdobj = document.createElement("td");
        tdobj.innerHTML = "<i class='lusheji lusheji_iconshanchu' onclick='delecttr(this)'></i>";
        trobj.appendChild(tdobj);
        tableobj.appendChild(trobj);
    }

    function addtr5() {
        var tableobj = document.getElementById("tid5");
        var trobj = document.createElement("tr");
        for (var i = 0; i < 1; i++) {
            var tdobj = document.createElement("td");
            tdobj.innerHTML = "<input type='text' name='title' lay-verify='title' autocomplete='off' placeholder='请输入分类名称' class='layui-input'>";
            trobj.appendChild(tdobj);
        }
        var tdobj = document.createElement("td");
        tdobj.innerHTML = "<i class='lusheji lusheji_iconshanchu' onclick='delecttr(this)'></i>";
        trobj.appendChild(tdobj);
        tableobj.appendChild(trobj);
    }

    function delecttr(obj) {
        var tr = obj.parentNode.parentNode;
        tr.parentNode.removeChild(tr);
    }

</script>
</body>
</html>