<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>登录记录页面</title>
    <link rel="stylesheet" href="__STATIC__/admin/layui/css/layui.css">
    <link rel="stylesheet" href="__STATIC__/admin/css/style.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1107505_d0oe8omhr1m.css">
    <script type="text/javascript" src="__STATIC__/admin/js/jquery-1.8.0.min.js"></script>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <!-- 内容主体区域 -->
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <div class="bgzt">
                <div class="box-center">
                    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                        <ul class="layui-tab-title tab_tatle">
                            <a href="__ROOT__/admin.php/salesman/salesman/index" target="mainframe">
                                <li class="layui-this">
                                    <p class="Order1">资料管理</p>
                                </li>
                            </a>
                            <a href="__ROOT__/admin.php/salesman/divideinto/index">
                                <li>
                                    <p class="Order1">业务员分成</p>
                                </li>
                            </a>

                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                <div class="liebiao">
                                    <div class="bgzt">
                                        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">

                                            {if auth('salesman/salesman/add') }
                                            <a href="__URL__/add"><input type="button"
                                                                         class="layui-btn layui-btn-radius"
                                                                         value="添加业务员" class="buttomorger100"/> </a>
                                            {/if}
                                            <div class="layui-tab-content">
                                                <div class="layui-tab-item layui-show">
                                                    <form class="layui-form" method="get" action="__URL__/index">
                                                        <div class="layui-form-item">
                                                            <label class="layui-form-label">业务员名称</label>
                                                            <div class="layui-input-block">
                                                                <input style="width: 190px;" type="text"
                                                                       name="SearchTitle" class="layui-input">
                                                            </div>
                                                        </div>
                                                        <div class="layui-form-item">
                                                            <label class="layui-form-label">联系电话</label>
                                                            <div class="layui-input-inline">
                                                                <input style="width: 190px;" type="text"
                                                                       name="SearchTel" class="layui-input">
                                                            </div>
                                                        </div>

                                                        <div class="layui-form-item">
                                                            <div class="layui-input-block">
                                                                <button class="layui-btn" lay-submit
                                                                        lay-filter="formDemo">查找
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <div class="Order_title">业务员列表</div>
                                                    <div class="liebiao">
                                                        <table class="layui-table" lay-skin="line" lay-size="sm">
                                                            <thead>
                                                            <tr>
                                                                <td class="tdtit">ID</td>
                                                                <td class="tdtit">用户名</td>
                                                                <td class="tdtit">性别</td>
                                                                <td class="tdtit">入职日期</td>
                                                                <td class="tdtit">分成比例</td>
                                                                <td class="tdtit">状态</td>
                                                                <td class="tdtit">操作</td>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {foreach $List as $value}
                                                            <tr class="tr1">
                                                                <td class="tdlist">{$value['admin_id']}&nbsp;</td>
                                                                <td class="tdlist">{$value['name']}&nbsp;</td>
                                                                <td class="tdlist">{:$value['sex']===1 ? '女' : '男'}&nbsp;</td>
                                                                <td class="tdlist">{$value['job_in_time']}</td>
                                                                <td class="tdlist">{$value['divide_into']}%</td>
                                                                <td class="tdlist">
                                                                    {if auth('salesman/salesman/editinfo') }
                                                                    {if $value['job_status'] eq 0}
                                                                    <a href="__URL__/editinfo/action/checkStatus/id/{$value['admin_id']}/Status/1?{$paramUrl}"><font
                                                                            color="#ff0000">已离职</font></a>
                                                                    {else}
                                                                    <a href="__URL__/editinfo/action/checkStatus/id/{$value['admin_id']}/Status/0?{$paramUrl}"><font
                                                                            color="#006600">在职</font></a>
                                                                    {/if}
                                                                    {else}
                                                                    {if $value['job_status'] eq 0}
                                                                    <font color="#ff0000">已离职</font>
                                                                    {else}
                                                                    <font color="#006600">在职</font>
                                                                    {/if}
                                                                    {/if}
                                                                </td>
                                                                <td class="tdlist">
                                                                    {if auth('salesman/salesman/edit') }
                                                                    [<a class="click_pop"
                                                                        href="{:url('salesman/edit')}?id={$value['admin_id']}&{$paramUrl}">编辑</a>]
                                                                    {/if}
                                                                </td>
                                                            </tr>
                                                            {/foreach}

                                                            {if $count eq 0}
                                                            <tr class="tr1">
                                                                <td colspan="7" class="tdlist">暂无相关记录！</td>
                                                            </tr>
                                                            {/if}
                                                            </tbody>
                                                        </table>
                                                        <!--遮罩层-->
                                                        <div class="bgPop"></div>
                                                        <!--弹出框-->
                                                        <div class="pop">
                                                            <div class="pop-top">
                                                                <h2>编辑</h2>
                                                                <span class="pop-close"><i
                                                                        class="lusheji lusheji_iconclose-b"
                                                                        style="font-size: 40px;color: #000;"></i></span>
                                                            </div>
                                                            <div class="pop-content">
                                                                <div class="pop-content-left">
                                                                    <img src="" alt="" class="teathumb">
                                                                </div>
                                                                <div class="pop-content-right">
                                                                    <form class="layui-form" action="">
                                                                        <div class="layui-form-item">
                                                                            <label class="layui-form-label">用户名</label>
                                                                            <div class="layui-input-block">
                                                                                <input style="width: 190px;" type="text"
                                                                                       name="title" required
                                                                                       lay-verify="required"
                                                                                       placeholder="请输入用户名"
                                                                                       autocomplete="off"
                                                                                       class="layui-input">
                                                                            </div>
                                                                        </div>
                                                                        <div class="layui-form-item">
                                                                            <label class="layui-form-label">密码框</label>
                                                                            <div class="layui-input-inline">
                                                                                <input style="width: 190px;"
                                                                                       type="password" name="password"
                                                                                       required lay-verify="required"
                                                                                       placeholder="请输入密码"
                                                                                       autocomplete="off"
                                                                                       class="layui-input">
                                                                            </div>

                                                                        </div>
                                                                        <div class="layui-form-item">
                                                                            <label class="layui-form-label">确认密码</label>
                                                                            <div class="layui-input-inline">
                                                                                <input style="width: 190px;"
                                                                                       type="password" name="password"
                                                                                       required lay-verify="required"
                                                                                       placeholder="请输入密码"
                                                                                       autocomplete="off"
                                                                                       class="layui-input">
                                                                            </div>
                                                                        </div>
                                                                        <div class="layui-inline">
                                                                            <label class="layui-form-label">入职日期</label>
                                                                            <div class="layui-input-inline">
                                                                                <input type="text" class="layui-input"
                                                                                       id="tool-time4"
                                                                                       placeholder="yyyy-MM-dd">
                                                                            </div>
                                                                        </div>
                                                                        <div class="layui-form-item">
                                                                            <label class="layui-form-label">性别</label>
                                                                            <div class="layui-input-block">
                                                                                <input type="radio" name="sex" value="男"
                                                                                       title="男">
                                                                                <input type="radio" name="sex" value="女"
                                                                                       title="女" checked>
                                                                            </div>
                                                                        </div>
                                                                        <div class="layui-form-item">
                                                                            <label class="layui-form-label">分成比例</label>
                                                                            <div class="layui-input-block">
                                                                                <input style="width: 190px;" type="text"
                                                                                       name="title" required
                                                                                       lay-verify="required"
                                                                                       placeholder="请输入分成比例"
                                                                                       autocomplete="off"
                                                                                       class="layui-input">
                                                                            </div>
                                                                        </div>
                                                                        <div class="layui-form-item">
                                                                            <div class="layui-input-block">
                                                                                <button class="layui-btn" lay-submit
                                                                                        lay-filter="formDemo">保存
                                                                                </button>

                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
                                                    <div id="laypage88" style="text-align: center;">
                                                        <div class="layui-box layui-laypage layui-laypage-default"
                                                             id="layui-laypage-7">
                                                            <a href="javascript:;"
                                                               class="layui-laypage-prev layui-disabled" data-page="0">上一页</a>
                                                            <span class="layui-laypage-curr">
      <em class="layui-laypage-em"></em><em>1</em></span>
                                                            <a href="javascript:;" data-page="2">2</a>
                                                            <a href="javascript:;" data-page="3">3</a>
                                                            <a href="javascript:;" data-page="4">4</a>
                                                            <a href="javascript:;" data-page="5">5</a>
                                                            <a href="javascript:;" class="layui-laypage-next"
                                                               data-page="2">下一页</a></div>
                                                    </div>
                                                </div>
                                                <div class="layui-tab-item">

                                                    <div class="liebiao">
                                                        <table class="layui-table" lay-skin="line" lay-size="sm">
                                                            <colgroup>
                                                                <col width="100">
                                                                <col width="50">
                                                                <col width="10">
                                                                <col width="200">
                                                                <col width="200">
                                                                <col width="200">
                                                                <col width="200">
                                                            </colgroup>
                                                            <thead>
                                                            <tr>
                                                                <th>用户名</th>
                                                                <th>性别</th>
                                                                <th>入职时间</th>
                                                                <th>分成比例</th>
                                                                <th>推广人数</th>
                                                                <th>累计分成</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr>
                                                                <td>张三</td>
                                                                <td>男</td>
                                                                <td>2019-01-01</td>
                                                                <td>10%</td>
                                                                <td>1052</td>
                                                                <td><i class="lusheji lusheji_iconjinbi"></i>224615</td>
                                                            </tr>
                                                            <tr>
                                                                <td>张三</td>
                                                                <td>男</td>
                                                                <td>2019-01-01</td>
                                                                <td>10%</td>
                                                                <td>1052</td>
                                                                <td><i class="lusheji lusheji_iconjinbi"></i>224615</td>
                                                            </tr>
                                                            <tr>
                                                                <td>张三</td>
                                                                <td>男</td>
                                                                <td>2019-01-01</td>
                                                                <td>10%</td>
                                                                <td>1052</td>
                                                                <td><i class="lusheji lusheji_iconjinbi"></i>224615</td>
                                                            </tr>
                                                            <tr>
                                                                <td>张三</td>
                                                                <td>男</td>
                                                                <td>2019-01-01</td>
                                                                <td>10%</td>
                                                                <td>1052</td>
                                                                <td><i class="lusheji lusheji_iconjinbi"></i>224615</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>

                                                    </div>
                                                    <div id="laypage88" style="text-align: center;">
                                                        <div class="layui-box layui-laypage layui-laypage-default"
                                                             id="layui-laypage-7">
                                                            <a href="javascript:;"
                                                               class="layui-laypage-prev layui-disabled" data-page="0">上一页</a>
                                                            <span class="layui-laypage-curr">
      <em class="layui-laypage-em"></em><em>1</em></span>
                                                            <a href="javascript:;" data-page="2">2</a>
                                                            <a href="javascript:;" data-page="3">3</a>
                                                            <a href="javascript:;" data-page="4">4</a>
                                                            <a href="javascript:;" data-page="5">5</a>
                                                            <a href="javascript:;" class="layui-laypage-next"
                                                               data-page="2">下一页</a></div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
<script src="__STATIC__/admin/layui/layui.all.js"></script>

</body>
</html>






