<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>添加</title>
    <link rel="stylesheet" href="__STATIC__/admin/layui/css/layui.css">
    <link rel="stylesheet" href="__STATIC__/admin/css/style.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1107505_d0oe8omhr1m.css">
    <script type="text/javascript" src="__STATIC__/admin/js/jquery-1.8.0.min.js"></script>

</head>
<body>
<div class="layui-layout layui-layout-admin">
    <!-- 内容主体区域 -->
    <div class="layui-tab-content">

        <div class="layui-tab-item layui-show">
            <div class="bgzt">
                <div class="box-center">
                    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                        <ul class="layui-tab-title tab_tatle">

                            <li>
                                <a href="#"><p class="Order1">材质列表</p></a>
                            </li>
                        </ul>
        <form  method="post" action="__URL__/del" id="form1">
            <table class="layui-table" lay-skin="line" lay-size="sm">
                <tr class="tr1">
                    <td colspan="6" class="tit">
                    </td>
                    <td class="tit">
                        {if auth('paper/paper/add') }
                        <a href="__URL__/add"><input type="button"  value="添加材质" class="layui-btn layui-btn-radius" /> </a>
                        {/if}
                    </td>
                </tr>
                <tr class="tr1">
                    <td class="tdtit"><input type="checkbox" id="chkAll" name="chkAll" onClick="CheckAll(this.form)" value="checkbox" />ID</td>
                    <td class="tdtit">材质</td>
                    <td class="tdtit">厚度</td>
                    <td class="tdtit">价格</td>
                    <td class="tdtit">排序</td>
                    <td class="tdtit">状态</td>
                    <td class="tdtit">操作</td>
                </tr>
                {foreach $list as $value}
                <tr class="tr1">
                    <td class="tdlist">
                        <input type="checkbox" name="ids[]"  value="{$value['id']}" />
                        {$value['id']}&nbsp;
                    </td>
                    <td class="tdlist">{$value['title']}&nbsp;</td>
                    <td class="tdlist">{$value['thickness']} {$value['thickness_unit']}</td>
                    <td class="tdlist">
                        单张价格：{$value['price']}元/张<br />
                        单张价格(101-500张)：{$value['price_one']}元/张<br />
                        单张价格(101-500张)：{$value['price_two']}元/张<br />
                        单张价格(501-以上张)：{$value['price_three']}元/张
                    </td>
                    <td class="tdlist">
                        <input type="text" name="sorts[{$value['id']}]" value="{$value['sort_rank']}" maxlength="5" size="5" />
                    </td>
                    <td class="tdlist">
                        {if auth('paper/paper/setDataStatus') }
                            {if $value['data_status'] eq 0}
                            <a href="__URL__/setDataStatus/id/{$value['id']}/Status/1" class="layui-btn layui-btn-danger" ><font color="#ff0000">未启用</font></a>
                            {else}
                            <a href="__URL__/setDataStatus/id/{$value['id']}/Status/0"  class="layui-btn layui-btn-normal"><font color="#006600">已启用</font></a>
                            {/if}
                        {else}
                            {if $value['data_status'] eq 0}
                            <font color="#ff0000">未启用</font>
                            {else}
                            <font color="#006600">已启用</font>
                            {/if}
                        {/if}
                    </td>
                    <td class="tdlist">
                        {if auth('paper/paper/edit') }
                        <a href="__URL__/edit/id/{$value['id']}" class="layui-btn" >编辑</a>
                        {/if}
                        {if auth('paper/paper/del') }
                        <a href="__URL__/del/id/{$value['id']}" onclick="return confirm('确定要删除吗？');" class="layui-btn layui-btn-danger">删除</a>
                        {/if}
                    </td>
                </tr>
                {/foreach}

                {if $count eq 0}
                <tr class="tr1">
                    <td colspan="7" class="tdlist">暂无相关记录！ </td>
                </tr>
                {/if}
                <tr class="tr1">
                    <td colspan="11" class="tdlist" >
                        <input type="hidden" name="checkclass" class="" id="checkclass" value="1" />
                        {if auth('paper/paper/del') }
                        <input type="submit" class="layui-btn layui-btn-danger"    value="删除"  onClick="javascript:return confirm('确定要删除吗？');" />
                        {/if}
                        {if auth('paper/paper/sortrank') }
                        <input type="submit" class="layui-btn layui-btn-radius layui-btn-normal"   value="排序"
                               onClick="document.getElementById('checkclass').value='2'; document.getElementById('form1').action='__URL__/sortrank';" />
                        {/if}
                    </td>
                </tr>
            </table>
            <div style="text-align:right; padding-right:40px;">
            </div>
        </form>

    </div>

</div>


</div>
</body>
</html>