<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>产品管理-产品列表</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/images/style.css"/>
    <link type="text/css" rel="stylesheet" href="__STATIC__/admin/css/index.css"/>
    <link type="text/css" rel="stylesheet" href="__STATIC__/admin/css/public.css"/>
    <script type="text/javascript" src="__STATIC__/admin/js/jquery.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/myString.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/function.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/PublicUser.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/PublicUploadImg.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/template_add.js"></script>
</head>


<body>
<div class="container">

    <div class="cont_title">　你当前的位置：产品管理 - <a href="__URL__/index">产品列表</a> - 添加</div>

    <div class="con">

        <div class="conlist">
            <form action="__URL__/insert" method="post" enctype="multipart/form-data" name="form1" id="form1" onSubmit="javascript:return subfun();">
                <table class="listtable">
                    <tr class="tr1">
                        <td colspan="2" class="tit">添加</td>
                    </tr>
                    <tr class="tr1">
                        <td  class="tdl">产品名称:<span style="color:#f00;">*</span></td>
                        <td class="tdr" style="padding-top:5px;">
                            <input type="text" name="title" id="title" size="60"  maxlength="32"  onKeyPress="return noStrs(event);" onBlur="onBlur_title()"  />
                            <span id="span_title" style="color:#f00;"></span>
                        </td>
                    </tr>
                    <tr class="tr1"  >
                        <td class="tdl" style="border-bottom:none;"></td>
                        <td class="tdr" style="padding-top:5px; border-bottom:none;">
                            <div class="class_con" id="div_new_img_link_url">
                                <label for="">&nbsp;</label>
                                <img src="" height="70" width="90" alt="" id="news_img_link_url" />
                            </div>
                            <div class="class_con" style="display:none;">
                                <label for="">&nbsp;</label>
                                <div  id="div_new_img_link_url_news"></div>
                            </div>
                        </td>
                    </tr>
                    <tr class="tr1">
                        <td class="tdl">图片：</td>
                        <td class="tdr" style="padding-top:5px;">
                            <input type="hidden" name="MAX_FILE_SIZE" value="{:config('upload_config.max_size')}" />
                            <input type="hidden" name="oldIMAGES" value="" />
                            <input type="file" name="IMAGES" id="IMAGES"
                                   onChange="previewImage(this,'div_new_img_link_url','news_img_link_url','div_new_img_link_url_news');OnBlur_images(); " />
                            <span  style="color:#0000FF;">图片格式：{:config('upload_config.file_ext')}</span>
                            <span id="spanIMAGES" style="color:#f00;"></span></td>
                    </tr>
                    <tr class="tr1">
                        <td  class="tdl">产品模版</td>
                        <td class="tdr" style="padding-top:5px;">
                            <select name="product_template_id">
                                {foreach $list_product_template as $value}
                                <option value="{$value['product_template_id']}">{$value['title']}</option>
                                {/foreach}
                            </select>
                        </td>
                    </tr>
                    <tr class="tr1">
                        <td class="tdl">状态：</td>
                        <td class="tdr" style="padding-top:5px;">
                            <input type="radio" name="data_status" value="0" checked />不显示　
                            <input type="radio" name="data_status" value="1"  />显示&nbsp;
                        </td>
                    </tr>
                    <tr class="tr1">
                        <td  class="tdl">标识码:<span style="color:#f00;">*</span></td>
                        <td class="tdr" style="padding-top:5px;">
                            <input type="text" name="identification_code"  size="60"  maxlength="32"  onKeyPress="return noStrs(event);" onBlur="onBlur_title()"  />
                            <span id="span_title" style="color:#f00;"></span>
                        </td>
                    </tr>

                    <tr class="tr1">
                        <td  class="tdl">通用名:<span style="color:#f00;">*</span></td>
                        <td class="tdr" style="padding-top:5px;">
                            <input type="text" name="generic_name"  size="60"  maxlength="32"  onKeyPress="return noStrs(event);" onBlur="onBlur_title()"  />
                            <span id="span_title" style="color:#f00;"></span>
                        </td>
                    </tr>
                    <tr class="tr1">
                        <td  class="tdl">登记信息:<span style="color:#f00;">*</span></td>
                        <td class="tdr" style="padding-top:5px;">
                            <input type="text" name="registration_information"  size="60"  maxlength="32"  onKeyPress="return noStrs(event);" onBlur="onBlur_title()"  />
                            <span id="span_title" style="color:#f00;"></span>
                        </td>
                    </tr>
                    <tr class="tr1">
                        <td  class="tdl">生产批号:<span style="color:#f00;">*</span></td>
                        <td class="tdr" style="padding-top:5px;">
                            <input type="text" name="batch_number"  size="60"  maxlength="32"  onKeyPress="return noStrs(event);" onBlur="onBlur_title()"  />
                            <span id="span_title" style="color:#f00;"></span>
                        </td>
                    </tr>
                    <tr class="tr1">
                        <td  class="tdl">检验信息:<span style="color:#f00;">*</span></td>
                        <td class="tdr" style="padding-top:5px;">
                            <input type="text" name="inspection_information"  size="60"  maxlength="32"  onKeyPress="return noStrs(event);" onBlur="onBlur_title()"  />
                            <span id="span_title" style="color:#f00;"></span>
                        </td>
                    </tr>
                    <tr class="tr1">
                        <td  class="tdl">生产企业:<span style="color:#f00;">*</span></td>
                        <td class="tdr" style="padding-top:5px;">
                            <input type="text" name="manufacturing_enterprise"  size="60"  maxlength="32"  onKeyPress="return noStrs(event);" onBlur="onBlur_title()"  />
                            <span id="span_title" style="color:#f00;"></span>
                        </td>
                    </tr>
                    <tr class="tr1">
                        <td  class="tdl">经营企业:<span style="color:#f00;">*</span></td>
                        <td class="tdr" style="padding-top:5px;">
                            <input type="text" name="business_enterprise"  size="60"  maxlength="32"  onKeyPress="return noStrs(event);" onBlur="onBlur_title()"  />
                            <span id="span_title" style="color:#f00;"></span>
                        </td>
                    </tr>
                    <tr class="tr1">
                        <td  class="tdl">技术指导:<span style="color:#f00;">*</span></td>
                        <td class="tdr" style="padding-top:5px;">
                            <input type="text" name="technical_guidance"  size="60"  maxlength="32"  onKeyPress="return noStrs(event);" onBlur="onBlur_title()"  />
                            <span id="span_title" style="color:#f00;"></span>
                        </td>
                    </tr>
                    <tr class="tr1">
                        <td  class="tdl">服务热线:<span style="color:#f00;">*</span></td>
                        <td class="tdr" style="padding-top:5px;">
                            <input type="text" name="hotline"  size="60"  maxlength="32"  onKeyPress="return noStrs(event);" onBlur="onBlur_title()"  />
                            <span id="span_title" style="color:#f00;"></span>
                        </td>
                    </tr>
                    <tr class="tr1">
                        <td class="tdl">描述：</td>
                        <td class="tdr" style="padding-top:5px;"><textarea name="data_desc"  rows="5" id="data_desc" onKeyPress="return noStrs(event);"  cols="60"></textarea>  </td>
                    </tr>
                    <tr class="tr1">
                        <td class="tdl"></td>
                        <td class="tdr" style="padding-top:5px; position:relative;">
                            <input type="submit" name="Submit" value="提交"  class="buttomorger" />　
                            <input type="button" name="button" value="返回"  class="buttomgray" onClick="javascript:history.go(-1);" />

                        </td>
                    </tr>
                </table>

            </form>
        </div>

    </div>


</div>


</body>
</html>