<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>字段表</title>
</head>
<body>
<a href="/index.php/member/data/bfields/tableid/{$data.tableid}/databaseid/{$data.databaseid}">添加字段</a>
<a href="/index.php/member/data/bfield/tableid/{$data.tableid}/databaseid/{$data.databaseid}">添加字段</a>
<a href="/index.php/member/data/bfield/tableid/{$data.tableid}/databaseid/{$data.databaseid}">添加字段</a>
<a href="/index.php/member/data/bfield/tableid/{$data.tableid}/databaseid/{$data.databaseid}">添加字段</a>
</body>
</html>