<!DOCTYPE html>
<html lang="en">
<head>　<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>填写字段</title>
</head>
<body>{include file="publicinfo@publicinfo/header" /}
<form action="/index.php/member/data/bfield1/tableid/{$data.tableid}/databaseid/{$data.databaseid}" method="post">
    列名：<input type="text" name="title_value" value=""><br>
    属性：<select name="cell_type"><br>
    <option name="cell_type" value ="varchar">varchar</option>
    <option name="cell_type" value ="date">date</option>
    <option name="cell_type" value="int">int</option>
</select><br>
    长度: <input type="text" name="cell_lenght" value="">
    <input type="hidden" name="tableid" value="{$data.tableid}">
    <input type="hidden" name="databaseid" value="{$data.databaseid}">
    <br>
    <input type="submit" value="提交">
</form>
</body>
</html>