<!DOCTYPE html>
<html lang="en">
<head>　<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>数据表</title>
</head>
<body>
{include file="publicinfo@publicinfo/header" /}
<a href="/index.php/member/data/ntable/id/{$id}">添加数据表</a><br>
{foreach name='data' id='data'}
数据表:{$data.title_value}
<a href="/index.php/member/data/bkzd/tableid/{$data.table_id}/databaseid/{$data.database_id}">查看数据</a>
<a href="/index.php/member/data/etable/tableid/{$data.table_id}/databaseid/{$data.database_id}">编辑</a>
<a href="/index.php/member/data/dtable/tableid/{$data.table_id}">删除</a>
<br/>
{/foreach}
</body>
</html>