<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>个人中心</title>
    <link rel="stylesheet" href="__STATIC__/home/layui/css/layui.css">
    <link rel="stylesheet" href="__STATIC__/home/css/style.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1107505_xtbjq84ebde.css">
    <script type="text/javascript" src="__STATIC__/home/js/jquery-1.8.0.min.js"></script>
    <style>
        .fileinput-button {
            position: relative;
            display: inline-block;
            overflow: hidden;
        }

        .fileinput-button input {
            position: absolute;
            right: 0;
            top: 0;
            opacity: 0;
            -ms-filter: 'alpha(opacity=0)';
            font-size: 200px;
            cursor: pointer;
        }
    </style>
</head>

<body class="layui-layout-body">
{include file="publicinfo@publicinfo/header" /}
<div class="layui-layout layui-layout-admin">
    <div class="layui-tab">
        {include file="member@userconter/menu" menutype="Data" /}

        <!--主体区域-->
        <!--数据表开始-->
        <div class="layui-tab-content layui-body">
            <div class="layui-tab-item layui-show">
                <div class="bgzt">

                    <div class="yun_data_box2">
                        <div class="Order_title">{$TableName['title']}</div>
                        <div class="data_leading">
                            <a href="javascript:void(0)" class="layui-btn click_pop"><i
                                    class="lusheji lusheji_icondaoru"></i>导入EXCEL</a>
                            <a onclick="downloadExl(jsono)" class="layui-btn" id="txsc"><i
                                    class="lusheji lusheji_icondaochu"></i>导出EXCEL</a>
                            <a href="" download="我是导出来的测试文件.xlsx" id="downloadA"></a>
                        </div>


                        <table class="layui-table">
                            <thead>
                            {foreach name='CellData' id="value" key="key"}
                            <th>{$value.title}</th>
                            {/foreach}
                            <th style="float: left">序号</th>
                            {$data|dump}
                            <th style="float: right">操作 <a href="/index.php/member/data/CreateLine/cellid/{$data.tableid}/databaseid/{$data.database}"><i class="layui-icon">&#xe654;</i>   </a> </th>
                            </thead>
                            <tbody>

                                {foreach name="LineData" id="value" key="key"}
                                <tr>

                                    {foreach name="value" id="values" key="key"}
                                   <td>
                                       <input style="width: 100%;border: none;" type="text" name="{$key}" value="{$values}">
                                   </td>
                                    {/foreach}
                                <td><a href=""><i class="layui-icon">&#xe640;</i>   </a></td>
                                </tr>
                                {/foreach}
                            </tbody>
                        </table>

                        <script>
                            var jsono = [{
                                "名称": "工艺管道焊口标签1",
                                "款号": "12",
                                "颜色": "黄色"
                            }, {
                                "名称": "工艺管道焊口标签1",
                                "款号": "12",
                                "颜色": "黄色"
                            }, {
                                "名称": "工艺管道焊口标签1",
                                "款号": "12",
                                "颜色": "黄色"
                            }];
                            var tmpDown; //导出的二进制对象
                            function downloadExl(json, type) {
                                //根据json数据，获取excel的第一行(例如:姓名、年龄、性别)存至map
                                var tmpdata = json[0];
                                json.unshift({});
                                var keyMap = []; //获取keys
                                for (var k in tmpdata) {
                                    keyMap.push(k);
                                    json[0][k] = k;
                                }


                                var tmpdata = [];
                                json.map((v, i) => keyMap.map((k, j) => Object.assign({}, {
                                    v: v[k],
                                    position: (j > 25 ? getCharCol(j) : String.fromCharCode(65 + j)) + (i + 1)
                                }))).reduce((prev, next) => prev.concat(next)).forEach((v, i) => tmpdata[v.position] = {
                                    v: v.v
                                });

                                //设置区域,比如表格从A1到D10
                                var outputPos = Object.keys(tmpdata);
                                var tmpWB = {
                                    SheetNames: ['mySheet'], //保存的表标题
                                    Sheets: {
                                        'mySheet': Object.assign({},
                                            tmpdata, //内容
                                            {
                                                '!ref': outputPos[0] + ':' + outputPos[outputPos.length - 1] //设置填充区域
                                            })
                                    }
                                };

                                //创建二进制对象写入转换好的字节流
                                tmpDown = new Blob([s2ab(XLSX.write(tmpWB,
                                    {bookType: (type == undefined ? 'xlsx' : type), bookSST: false, type: 'binary'}//这里的数据是用来定义导出的格式类型
                                ))], {
                                    type: ""
                                });

                                var href = URL.createObjectURL(tmpDown); //创建对象超链接
                                document.getElementById("downloadA").href = href; //绑定a标签
                                document.getElementById("downloadA").click(); //模拟点击实现下载
                                setTimeout(function () { //延时释放
                                    URL.revokeObjectURL(tmpDown); //用URL.revokeObjectURL()来释放这个object URL
                                }, 100);
                            }

                            //字符串转字符流
                            function s2ab(s) {
                                var buf = new ArrayBuffer(s.length);
                                var view = new Uint8Array(buf);
                                for (var i = 0; i != s.length; ++i) view[i] = s.charCodeAt(i) & 0xFF;
                                return buf;
                            }

                            //将指定的自然数转换为26进制表示。映射关系：[0-25] -> [A-Z]。
                            function getCharCol(n) {
                                let temCol = '',
                                    s = '',
                                    m = 0
                                while (n > 0) {
                                    m = n % 26 + 1
                                    s = String.fromCharCode(m + 64) + s
                                    n = (n - m) / 26
                                }
                                return s
                            }
                        </script>
                        <script>
                            /**
                             * FileReader共有4种读取方法：
                             * 1.readAsArrayBuffer(file)：将文件读取为ArrayBuffer。
                             * 2.readAsBinaryString(file)：将文件读取为二进制字符串
                             * 3.readAsDataURL(file)：将文件读取为Data URL
                             * 4.readAsText(file, [encoding])：将文件读取为文本，encoding缺省值为'UTF-8'
                             */
                            var wb;//读取完成的数据
                            var rABS = false; //是否将文件读取为二进制字符串

                            //开始导入
                            function importf(obj) {
                                if (!obj.files) {
                                    return;
                                }
                                var f = obj.files[0];
                                var reader = new FileReader();
                                reader.onload = function (e) {
                                    var data = e.target.result;
                                    if (rABS) {
                                        wb = XLSX.read(btoa(fixdata(data)), {//手动转化
                                            type: 'base64'
                                        });
                                    } else {
                                        wb = XLSX.read(data, {
                                            type: 'binary'
                                        });
                                    }
                                    /**
                                     * wb.SheetNames[0]是获取Sheets中第一个Sheet的名字
                                     * wb.Sheets[Sheet名]获取第一个Sheet的数据
                                     */
                                    var excelJson = XLSX.utils.sheet_to_json(wb.Sheets[wb.SheetNames[0]]);
                                    document.getElementById("excelContent").innerHTML = JSON.stringify(excelJson);
                                };
                                if (rABS) {
                                    reader.readAsArrayBuffer(f);
                                } else {
                                    reader.readAsBinaryString(f);
                                }
                            }

                            //文件流转BinaryString
                            function fixdata(data) {
                                var o = "",
                                    l = 0,
                                    w = 10240;
                                for (; l < data.byteLength / w; ++l) o += String.fromCharCode.apply(null, new Uint8Array(data.slice(l * w, l * w + w)));
                                o += String.fromCharCode.apply(null, new Uint8Array(data.slice(l * w)));
                                return o;
                            }
                        </script>

                    </div>

                </div>
            </div>


            <!--数据表结束-->


        </div>
        <!--主体区域end-->
    </div>
</div>


<script src="__STATIC__/home/layui/layui.all.js"></script>
<script>
    layui.use(['form', 'layedit', 'laydate', 'upload'], function () {
        var $ = layui.jquery
            , upload = layui.upload;
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;
        //普通图片上传
        var uploadInst = upload.render({
            elem: '#txsc'
            , url: '/index.php/member/userconter/imf'
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#touxiang').attr('src', result); //图片链接（base64）
                });
            }
            , done: function (res) {
                //如果上传失败
                if (res.code > 0) {
                    return layer.msg('如果上传失败');
                }
                //上传成功
            }
            , error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });
        //指定允许上传的文件类型
        upload.render({
            elem: '#excel'
            , url: '/index.php/member/userconter/img'
            , accept: 'file' //普通文件
            , done: function (res) {
                console.log(res)
            }
        });
        //自定义验证规则
        form.verify({
            title: function (value) {
                if (value.length < 5) {
                    return '标题至少得5个字符啊';
                }
            }
            , pass: [
                /^[\S]{6,12}$/
                , '密码必须6到12位，且不能出现空格'
            ]
            , content: function (value) {
                layedit.sync(editIndex);
            }
        });
    });
</script>

</body>
</html>











