<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>注册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="applicable-device"content="pc,mobile"/>
    <link rel="stylesheet" href="__STATIC__/home/layui/css/layui.css">
    <link rel="stylesheet" href="__STATIC__/home/css/style.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1107505_xtbjq84ebde.css">
    <script src="__STATIC__/home/js/jquery-1.7.2.min.js"></script>
    <script src="__STATIC__/home/js/select.js"></script>
    <script type="text/javascript" src="__STATIC__/home/js/PublicUser.js"></script>
    <script type="text/javascript" src="__STATIC__/home/js/regin.js"></script>
</head>


<body>
{include file="publicinfo@publicinfo/header" /}
<div id="wp" style="padding-top: 110px;background:url(__STATIC__/home/images/bg.jpg) 100% 80px; height: 900px">
    <div class="all-work-list">

        <div class="register_box">
            <div class="register_box_title">立即注册</div>
            <form method="post" autocomplete="off" name="form1" id="registerform" enctype="multipart/form-data" onsubmit="checksubmit(); return subfun();return false;" action="__URL__/regin" _lpchecked="1">
                <div id="layer_reg" class="bm_c">
                    <input type="hidden" name="fromUserId" id="fromUserId" value="{$fromUserId}" />
                    <input type="hidden" name="regsubmit" value="">
                    <input type="hidden" name="formhash" value="">
                    <input type="hidden" name="referer" value="">
                    <input type="hidden" name="activationauth" value="">
                    <div class="mtw">
                        <div id="reginfo_a">
                            <div class="yun_login">
                                <i class="icon_251 icon_user2"></i>
                                <input type="text" class="lo_input" id="yun_name" name="username" tabindex="1" value="" autocomplete="off" size="25" maxlength="15" placeholder="请输入用户名" required=""  onblur="onBlur_username()">
                                <span id="span_username"></span>
                            </div>
                            <div class="yun_login2">
                                <i class="icon_251 icon_password"></i>
                                <input type="password" placeholder="请输入密码" class="lo_input er" id="yun_password" name="pwd" size="25" tabindex="1" required="" onblur="onBlur_pwd()">
                                <span id="span_pwd"></span>
                            </div>

                            <div class="yun_login2">
                                <i class="icon_251 icon_password"></i>
                                <input type="password" placeholder="请再次输入密码" class="lo_input er" id="yun_password2" name="pwd2" size="25" tabindex="1" value="" required=""  onblur="onBlur_pwd2()">
                                <span id="span_pwd2"></span>
                            </div>

                            <div class="yun_login2">
                                <i class="icon_251 icon_emali"></i>
                                <input class="lo_input" type="text" id="yun-email" name="email" autocomplete="off" size="25" tabindex="1" placeholder="请输入邮箱" value="" required="" onblur="onBlur_email()"  >
                                <span id="span_email"></span>
                                <br><em id="emailmore">&nbsp;</em>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="layer_reginfo_b">
                    <table width="100%">
                        <tbody><tr>
                            <td>
<span id="reginfo_a_btn">
<button class="lo_btn" id="registerformsubmit" type="submit" name="regsubmit" value="true" tabindex="1"><strong>立即注册</strong></button>
</span>
                            </td>
                            <td></td>
                        </tr>
                        </tbody></table>
                    <div class="lo_txt">
                        <!--<span>用第三方帐号直接登录</span>-->
                        <a href="/index.php/member/register/login" style="float:right">已有帐号？现在登录</a>
                        <!--<a class="lo_btn2" href="#"><i class="icon_251 icon_qq_2"></i>QQ登录</a>
                        <a class="lo_btn3" href="#"><i class="icon_251 icon_wx"></i>微信登录</a>-->
                    </div>
                </div>
            </form>
        </div>


        <div class="clear"></div>
    </div>
</div>

{include file="publicinfo@publicinfo/footer" /}
</body>
</html>
