
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>个人中心</title>
    <link rel="stylesheet" href="__STATIC__/home/layui/css/layui.css">
    <link rel="stylesheet" href="__STATIC__/home/css/style.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1107505_xtbjq84ebde.css">
    <script type="text/javascript" src="__STATIC__/home/js/jquery-1.8.0.min.js"></script>
    <link type="text/css" rel="stylesheet" href="__STATIC__/admin/css/page.css"/>
    <style>
        .fileinput-button {
            position: relative;
            display: inline-block;
            overflow: hidden;
        }

        .fileinput-button input {
            position: absolute;
            right: 0;
            top: 0;
            opacity: 0;
            -ms-filter: 'alpha(opacity=0)';
            font-size: 200px;
            cursor: pointer;
        }
    </style>
</head>

<body class="layui-layout-body">
{include file="publicinfo@publicinfo/header" /}
<div class="layui-layout layui-layout-admin">
    <div class="layui-tab">
        {include file="member@userconter/menu" menutype="templates" /}

        <!--主体区域-->
            <!--模板管理开始-->
        <div class="layui-tab-content layui-body">
            <div class="layui-tab-item layui-show">
                <div class="bgzt">
                    <div class="box-center">
                        <div class="Order_title">最新模板</div>
                        <div class="Order_more"><a href="/index.php/index/templates/templates"> 更多模板>></a></div>

                        <div class="user_muban_list">
                            <ul>
                                {if condition="!empty($newtemplate)"}
                                {foreach name='newtemplate' id='data'}
                                <li>
                                    <a href="/index.php/index/templates/content/template_id/{$data.template_id}" target="_blank">
                                        <div class="imgBox">
                                            <img width="260px" height="220px"
                                                 src="{if $data.img == ''}__STATIC__/home/images/tpl_default.png{else/}__STATIC__/{$data.img}{/if}">
                                            <div class="imgBox-mask">
                                                <button class="layui-btn l_button">详细</button>
                                                <br>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="interactive-box">
                                        <a href="#" target="_blank">
                                            <h2>{$data.title}</h2>
                                        </a>
                                        <div class="data-box">
                                            <div class="data-view">
                                                <span>纸张尺寸</span><br><span> 标签尺寸</span> <br><span>发布时间</span>
                                            </div>
                                            <div class="data-like">
                                                <span>{$data.paper_size_long}{$data.paper_size_unit}*{$data.paper_size_wide}{$data.paper_size_unit}</span><br><span>{$data.lable_size_wide}{$data.lable_size_unit}*{$data.lable_size_height}{$data.lable_size_unit}</span><br><span>{$data.create_time|date="y-m-d:H-i-s",###}</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {/foreach}
                                {else/}
                               <h1>暂无数据</h1>
                                {/if}
                            </ul>
                        </div>
                    </div>


                    <div class="box-center">
                        <div class="Order_title">我的模板</div>

                        <div class="user_muban_list">
                            <ul>
                                {if condition="!empty($template)"}
                                {foreach name='template' id='data'}
                                <li>

                                        <div class="imgBox">
                                            <img width="260px" height="220px"
                                                 src="{if $data.img == ''}__STATIC__/home/images/tpl_default.png{else/}__STATIC__/{$data.img}{/if}">
                                            <div class="imgBox-mask">
                                                <a href="#"><button class="layui-btn l_button">编辑</button></a>
                                                <br>
                                                <a href="/index.php/index/templates/content/template_id/{$data.template_id}"><button class="layui-btn l_button">详细</button></a>
                                                <br>
                                                <a href="/index.php/order/preorder/index?templateId={$data.template_id}"><button class="layui-btn l_button">立即下单</button></a>
                                                <br>
                                            </div>
                                        </div>
                                    <div class="interactive-box">
                                        <a href="#" target="_blank">
                                            <h2>{$data.title}</h2>
                                        </a>
                                        <div class="data-box">
                                            <div class="data-view">
                                                <span>纸张尺寸</span><br><span> 标签尺寸</span> <br><span>发布时间</span>
                                            </div>
                                            <div class="data-like">
                                                <span>{$data.paper_size_long}{$data.paper_size_unit}*{$data.paper_size_wide}{$data.paper_size_unit}</span><br><span>{$data.lable_size_wide}{$data.lable_size_unit}*{$data.lable_size_height}{$data.lable_size_unit}</span><br><span>{$data.create_time|date="y-m-d:H-i-s",###}</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {/foreach}
                                {/foreach}
                                {else/}
                                <h1>暂无数据</h1>
                                {/if}
                            </ul>
                        </div>
                    </div>


                    <div id="laypage88" style="text-align: center;">
                        <div class="layui-box layui-laypage layui-laypage-default" id="layui-laypage-7" style="width:100%;">
                            {if condition="!empty($page)"}
                            {$page}
                            {/if}

                        </div>
                    </div>

                    <div class="clear"></div>
                </div>
            </div>
        </div>
            <!--模板管理结束-->

        </div>
        <!--主体区域end-->
    </div>
</div>
<script src="__STATIC__/home/layui/layui.all.js"></script>
</body>
</html>











