
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>个人中心</title>
    <link rel="stylesheet" href="__STATIC__/home/layui/css/layui.css">
    <link rel="stylesheet" href="__STATIC__/home/css/style.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1107505_xtbjq84ebde.css">
    <script type="text/javascript" src="__STATIC__/home/js/jquery-1.8.0.min.js"></script>
    <style>
        .fileinput-button {
            position: relative;
            display: inline-block;
            overflow: hidden;
        }

        .fileinput-button input {
            position: absolute;
            right: 0;
            top: 0;
            opacity: 0;
            -ms-filter: 'alpha(opacity=0)';
            font-size: 200px;
            cursor: pointer;
        }
    </style>
</head>

<body class="layui-layout-body">
{include file="publicinfo@publicinfo/header" /}
<div class="layui-layout layui-layout-admin">
    <div class="layui-tab">
        {include file="member@userconter/menu" menutype="userinfo" /}

        <!--主体区域-->

        <!--资料设置开始-->
        <div class="layui-tab-content layui-body">
            <div class="layui-tab-item layui-show">
                <div class="bgzt">
                    <div class="box-center">
                        <div class="Order_title">基本资料</div>
                        <div class="liebiao">

                            <div class="layui-form-item">
                                <label class="layui-form-label">头像</label>
                                <div class="layui-upload" style="margin: 0 0 20px 110px;">
                                    <div class="layui-upload-list">
                                        {if condition="!empty($MemberData.img)"}
                                        <img class="layui-upload-img" src="/static/uploads/{$Think.session.userimg}">
                                        {else/}
                                        <img class="layui-upload-img" src="__STATIC__/home/images/UserDefault.jpg">
                                        {/if}

                                        <p id="demoText"></p>
                                    </div>

                                </div>
                            </div>


                            <div class="layui-form-item">
                                <label class="layui-form-label">性别:</label>
                                <div class="layui-input-inline">
                                    <input  style="width: 190px;" value="  {$MemberData['sex']==1 ?'女':'男'}" type="text"
                                           checked="checked"
                                           class="layui-input" disabled="disabled">
                                </div>
                            </div>


                            {if condition="isset($place)"}
                            <div class="layui-form-item">
                                <label class="layui-form-label">收货地址</label>
                                <div class="layui-input-inline">
                                    <input style="width: 190px;" value="{$place}" type="text" checked="checked"
                                           class="layui-input" disabled="disabled">
                                </div>
                            </div>
                            {/if}
                            <div class="layui-form-item">
                                <label class="layui-form-label">行业类型</label>
                                <div class="layui-input-inline">
                                    <input style="width: 190px;" value="  {$industry.title}" type="text"
                                           checked="checked"
                                           class="layui-input" disabled="disabled">
                                </div>
                            </div>
                            <div  class="Order_title">资料设置</div>
                            <div class="zhilaio" >
                            <form action="/index.php/member/userconter/save" method="post"
                                  enctype="multipart/form-data">

                                <table class="layui-table" lay-skin="nob">

                                    <tbody>
                                    <tr>
                                        <colgroup>
                                            <col width="70">
                                            <col width="200">
                                            <col width="200">
                                        </colgroup>
                                    </tr>
                                    <tr>
                                        <td>
                                            头像修改
                                        </td>
                                        <td style="line-height: 100%">
                                        <span  class="btn btn-success fileinput-button">
                                        <span class="glyphicon glyphicon-plus"></span>
                                        <span class="layui-btn layui-btn-radius" style="display: block; height: 35px;width: 100px;">上传图片</span>
                                        <input type="file" name="img" placeholder="">
                                        </span>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>更改收货地址</td>
                                        <td>
                                            <div style="float: left;" class="layui-form-item"><select id="sheng"
                                                                                                      class="sheng"
                                                                                                      name="sheng">
                                                <option value="">请选择省份</option>
                                                {volist name="region" id="vo"}
                                                <option value='{$vo.area_code}'>{$vo.area_name}</option>
                                                {/volist}
                                            </select>
                                                <select id="city" name="city">
                                                    <option value="">请选择城市</option>
                                                </select>
                                                <select id="qu" name="qu">
                                                    <option value="">请选择区</option>
                                                </select>
                                                <select id="jie" name="jie">
                                                    <option value="">请选择街道</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>性别</td>
                                        <td>
                                            <div style="float: left;" class="layui-form-item">
                                                男：<input type='radio' name='sex' value='0' title='男' checked>
                                                女：<input type='radio' name='sex' value='1' title='女'>
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>

                                    <tr>
                                        <td>
                                            请选择行业
                                        </td>
                                        <td>
                                            <div style="float: left;" class="layui-form-item">
                                                <select name="title">
                                                    <option name="title" value=""> 请选择</option>
                                                    {foreach name='title' id = 'user'}
                                                    <option name="title" value="{$user.id}"> {$user.title}</option>
                                                    {/foreach}
                                                </select>
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            修改密码
                                        </td>
                                        <td>
                                            <input style="width: 190px;" type="password" name="password"
                                                   autocomplete="off" class="layui-input">
                                        </td>
                                        <td>
                                            可以为空
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <button class="layui-btn" lay-submit lay-filter="formDemo">保存</button>
                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>


                                <div class="layui-form-item">
                                    <div class="layui-input-block">

                                    </div>
                                </div>
                            </form>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>


            <!--资料资料设置结束-->

        </div>
        <!--主体区域end-->
    </div>
</div>


<script src="__STATIC__/home/layui/layui.all.js"></script>
<script>
    layui.use(['form', 'layedit', 'laydate', 'upload'], function () {
        var $ = layui.jquery
            , upload = layui.upload;
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;
        //普通图片上传
        var uploadInst = upload.render({
            elem: '#txsc'
            , url: '/index.php/member/userconter/imf'
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#touxiang').attr('src', result); //图片链接（base64）
                });
            }
            , done: function (res) {
                //如果上传失败
                if (res.code > 0) {
                    return layer.msg('如果上传失败');
                }
                //上传成功
            }
            , error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });
        //指定允许上传的文件类型
        upload.render({
            elem: '#excel'
            , url: '/index.php/member/userconter/img'
            , accept: 'file' //普通文件
            , done: function (res) {
                console.log(res)
            }
        });
        //自定义验证规则
        form.verify({
            title: function (value) {
                if (value.length < 5) {
                    return '标题至少得5个字符啊';
                }
            }
            , pass: [
                /^[\S]{6,12}$/
                , '密码必须6到12位，且不能出现空格'
            ]
            , content: function (value) {
                layedit.sync(editIndex);
            }
        });
    });
</script>
<script>

    $("#sheng").change(function () {
        var sheng = $('#sheng').val();
        $.ajax({
            type: 'post',
            url: '__URL__/shi',
            data: 'shi=' + $('#sheng').val(),
            dataType: "json",
            success: function (data) {
                var option = "", shi = '';
                document.getElementById("city").options.length = 0;
                document.getElementById("city").add(new Option("请选择城市", ""));
                document.getElementById("qu").options.length = 0;
                document.getElementById("qu").add(new Option("请选择区", ""));
                document.getElementById("jie").options.length = 0;
                document.getElementById("jie").add(new Option("请选择街道", ""));
                for (var i = 0; i < data.length; i++) {
                    if (shi == '') shi = data[i];

                    option += "<option value='" + data[i]['area_code'] + "'>" + data[i]['area_name'] + "</option>";
                }
                $("#city").append(option);
                set_qu(sheng, shi);
            }
        })
        $("#city").change(function () {
            var sheng = $('#sheng').val();
            var shi = this.value;
            set_qu(sheng, shi);

        })

        function set_qu(sheng, shi) {

            $.ajax({
                type: 'post',
                url: '__URL__/shi',
                data: {'shi': sheng, 'shi': shi},
                dataType: "json",
                success: function (data) {
                    document.getElementById("qu").options.length = 0;
                    document.getElementById("qu").add(new Option("请选择区", ""));
                    document.getElementById("jie").options.length = 0;
                    document.getElementById("jie").add(new Option("请选择街道", ""));
                    var html = "";
                    for (i = 0; i < data.length; i++) {
                        html += "<option value='" + data[i]['area_code'] + "'>" + data[i]['area_name'] + "</option>";
                    }
                    $('#qu').append(html);
                }
            })
        }

        $("#qu").change(function () {
            var shi = $('#qu').val();
            var shi = this.value;
            set_qu1(shi);

        })

        function set_qu1(shi) {

            $.ajax({
                type: 'post',
                url: '__URL__/shi',
                data: {'shi': shi},
                dataType: "json",
                success: function (data) {
                    var html = "";
                    document.getElementById("jie").options.length = 0;
                    document.getElementById("jie").add(new Option("请选择街道", ""));
                    for (i = 0; i < data.length; i++) {
                        html += "<option value='" + data[i]['area_code'] + "'>" + data[i]['area_name'] + "</option>";
                    }
                    $('#jie').append(html);
                }
            })
        }
    })</script>

</body>
</html>











