<!DOCTYPE html>
<html lang="en">
<head>　<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>支付</title>
</head>
<body>
订单详情:
{$data|dump}
    模板名称：{$data.template_title}<br>
    客户姓名：{$data.name}<br>
    客户手机号：{$data.moblie}<br>
    单号：{$data.order_no}<br>
    支付金额：{$data.score_pay}<br>
<form action="/index.php/member/userconter/qxzf/tempalteid/{$data.template_id}/memberid/{$data.member_id}" method="post">
  {foreach $data as $key=>$value}
    <input type="hidden" name="{$key}" value="{$value}">
    {/foreach}
    <input type="submit" value="取消订单">
</form>
<script></script>
</body>
</html>