<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>关键词回复-图文回复</title>
	<link type="text/css" rel="stylesheet" href="__STATIC__/admin/css/index.css"/>
    <link type="text/css" rel="stylesheet" href="__STATIC__/admin/css/public.css"/>
    <script type="text/javascript" src="__STATIC__/admin/js/wechat/jquery.js"></script>

</head>
<body>
        
        <div class="menus_r">
        		<div class="maps">
                    <i></i>
                    <p class="current">您当前的位置：<a href="{:url('index/index')}">首页</a>&nbsp;>&nbsp; 微信回复管理&nbsp;>&nbsp; 关键词回复&nbsp;>&nbsp; 
                    	<a>{if condition="$SearchMsgType eq 'news'"}<!--图文消息-->图文回复
                           {elseif condition="$SearchMsgType eq 'music'"/}<!--音乐消息-->音乐回复               
                           {elseif condition="$SearchMsgType eq 'video'"/}<!--视频消息-->视频回复
                           {elseif condition="$SearchMsgType eq 'voice'"/}<!--语音消息-->语音回复
                           {elseif condition="$SearchMsgType eq 'image'"/}<!--图片消息-->图片回复
                           {elseif condition="$SearchMsgType eq 'text'"/}<!--文本消息-->文本回复
                           {/if}                 
                        </a>
					</p>   
                </div>
                <div class="div_height_15"></div>
                <!-- add end --> 
               <ul class="tab_menu">
                        <a <if name="SearchMsgType" value="news">class="selected"{else/}href="__URL__/index/SearchMsgType/news"</if>><li>图文回复</li></a>
                        <a <if name="SearchMsgType" value="music">class="selected"{else/}href="__URL__/index/SearchMsgType/music"</if>><li>音乐回复</li></a>
                        <a <if name="SearchMsgType" value="video">class="selected"{else/}href="__URL__/index/SearchMsgType/video"</if>><li>视频回复</li></a>
                        <a <if name="SearchMsgType" value="voice">class="selected"{else/}href="__URL__/index/SearchMsgType/voice"</if>><li>语音回复</li></a>
                        <a <if name="SearchMsgType" value="image">class="selected"{else/}href="__URL__/index/SearchMsgType/image"</if>><li>图片回复</li></a>
                        <a <if name="SearchMsgType" value="text">class="selected"{else/}href="__URL__/index/SearchMsgType/text"</if>><li>文本回复</li></a>
               </ul>
               <div class="Member">
                    <div class="member_l" style="width:700px;">
                        <a class="selecs select_f" style="width:100px;" href="__URL__/add/MsgType/news">添加图文回复</a>
                        <a class="selecs select_f" style="width:100px;" href="__URL__/add/MsgType/music">添加音乐回复</a>
                        <a class="selecs select_f" style="width:100px;" href="__URL__/add/MsgType/video">添加视频回复</a>
                        <a class="selecs select_f" style="width:100px;" href="__URL__/add/MsgType/voice">添加语音回复</a>
                        <a class="selecs select_f" style="width:100px;" href="__URL__/add/MsgType/image">添加图片回复</a>
                        <a class="selecs select_f" style="width:100px;" href="__URL__/add/MsgType/text">添加文本回复</a>
                    </div>

                </div>
                <div class="mid">
                    <table class="mid_con"  style="border-collapse:collapse;">
                    	{if condition="$SearchMsgType eq 'news'"}<!--图文消息-->
                        <tr class="mid_01" style="border-left:3px solid #e4e3e3">
                        	<td class="mid_th">关键词</td>
                            <td class="mid_th">图片</td>
                            <td class="mid_th">标题</td>
                            <td class="mid_th">描述</td>
                            <td class="mid_th">跳转的url</td>
                            <td class="mid_th">消息类型</td>
                            <td class="mid_s">操作</td>
                        </tr>
                        {elseif condition="$SearchMsgType eq 'music'"/}<!--音乐消息-->
                        <tr class="mid_01" style="border-left:3px solid #e4e3e3">
                        	<td class="mid_th">关键词</td>
                            <!--<td class="mid_th">缩略图的媒体id</td>-->
                            <td class="mid_th">音乐</td>
                            <td class="mid_th">标题</td>
                            <td class="mid_th">描述</td>
                            <td class="mid_th">消息类型</td>
                            <td class="mid_s">操作</td>
                        </tr>
                        {elseif condition="$SearchMsgType eq 'video'"/}<!--视频消息-->
                        <tr class="mid_01" style="border-left:3px solid #e4e3e3">
                        	<td class="mid_th">关键词</td>
                            <!--<td class="mid_th">media_id</td>-->
                            <td class="mid_th">标题</td>
                            <td class="mid_th">描述</td>
                            <td class="mid_th">消息类型</td>
                            <td class="mid_s">操作</td>
                        </tr>
                        {elseif condition="$SearchMsgType eq 'voice'"/}<!--语音消息-->
                        <tr class="mid_01" style="border-left:3px solid #e4e3e3">
                        	<td class="mid_th">关键词</td>
                            <!--<td class="mid_th">media_id</td>-->
                            <td class="mid_th">消息类型</td>
                            <td class="mid_s">操作</td>
                        </tr>
                        {elseif condition="$SearchMsgType eq 'image'"/}<!--图片消息-->
                        <tr class="mid_01" style="border-left:3px solid #e4e3e3">
                        	<td class="mid_th">关键词</td>
                            <!--<td class="mid_th">media_id</td>-->
                            <td class="mid_th">图片</td>
                            <td class="mid_th">消息类型</td>
                            <td class="mid_s">操作</td>
                        </tr>
                        {elseif condition="$SearchMsgType eq 'text'"/}<!--文本消息-->
                        <tr class="mid_01" style="border-left:3px solid #e4e3e3">
                        	<td class="mid_th">关键词</td>
                            <td class="mid_th">文本</td>
                            <td class="mid_th">消息类型</td>
                            <td class="mid_s">操作</td>
                        </tr>
                        {/if}
                        
						{if condition="$SearchMsgType eq 'news'"}<!--图文消息-->
                            {foreach name="List" id="value"}
                            <tr class="mid_02" style="border-left:3px solid #f5da8c;">
                            	<td>{$value['key_word']}</td>
                                <td>
                                    {if condition="$value['link_url'] eq ''"}暂无图片
                                    {else/}<img src="{$value['link_url']}" alt="" width="140" height="100" />
                                    {/if}
                                </td>
                                <td>{$value['title']}</td>
                                <td>{$value['description']}</td>
                                <td>{$value['url']}</td>
                                <td>图文消息</td>
                                <td>
                                    <a href="__URL__/edit/id/{$value['id']}">编辑</a>　
                                    <a href="__URL__/delete/id/{$value['id']}" onClick="javascript:return confirm('确定要删除吗？');">删除</a>　
                                </td>
                            </tr>
                            {/foreach}
                            <php>if(!count($List)){</php>
                            <tr class="mid_02" style="border-left:3px solid #f5da8c;">
                                <td colspan="7">暂无相关数据！</td>
                            </tr>
                            {/if}
                        {elseif condition="$SearchMsgType eq 'music'"/}<!--音乐消息-->
                            {foreach name="List" id="value"}
                            <tr class="mid_02" style="border-left:3px solid #f5da8c;">
                            	<td>{$value['key_word']}</td>
                                <!--<td>
                                    {$value['thumb_media_id']}
                                </td>-->
                                <td><audio src="{$value['link_url']}"  id="audio_id" controls="controls"  >您的浏览器不支持 audio 标签。</audio></td>
                                <td>{$value['title']}</td>
                                <td>{$value['description']}</td>
                                <td>音乐消息</td>
                                <td>
                                    <a href="__URL__/edit/id/{$value['id']}">编辑</a>　
                                    <a href="__URL__/delete/id/{$value['id']}" onClick="javascript:return confirm('确定要删除吗？');">删除</a>　
                                </td>
                            </tr>
                            {/foreach}
                            <php>if(!count($List)){</php>
                            <tr class="mid_02" style="border-left:3px solid #f5da8c;">
                                <td colspan="7">暂无相关数据！</td>
                            </tr>
                            {/if}
                        {elseif condition="$SearchMsgType eq 'video'"/}<!--视频消息-->
                            {foreach name="List" id="value"}
                             <tr class="mid_02" style="border-left:3px solid #f5da8c;">
                             	<td>{$value['key_word']}</td>
                                <!--<td>{$value['media_id']}</td>-->
                                <td>{$value['title']}</td>
                                <td>{$value['description']}</td>
                                <td>视频消息</td>
                                <td>
                                    <a href="__URL__/edit/id/{$value['id']}">编辑</a>　
                                    <a href="__URL__/delete/id/{$value['id']}" onClick="javascript:return confirm('确定要删除吗？');">删除</a>　
                                </td>
                            </tr>
                            {/foreach}
                            <php>if(!count($List)){</php>
                            <tr class="mid_02" style="border-left:3px solid #f5da8c;">
                                <td colspan="6">暂无相关数据！</td>
                            </tr>
                            {/if}
                        {elseif condition="$SearchMsgType eq 'voice'"/}<!--语音消息-->
                            {foreach name="List" id="value"}
                            <tr class="mid_02" style="border-left:3px solid #f5da8c;">
                            	<td>{$value['key_word']}</td>
                                <!--<td>{$value['media_id']}</td>-->
                                <td>语音消息</td>
                                <td>
                                    <a href="__URL__/edit/id/{$value['id']}">编辑</a>　
                                    <a href="__URL__/delete/id/{$value['id']}" onClick="javascript:return confirm('确定要删除吗？');">删除</a>　
                                </td>
                            </tr>
                            {/foreach}
                            <php>if(!count($List)){</php>
                            <tr class="mid_02" style="border-left:3px solid #f5da8c;">
                                <td colspan="4">暂无相关数据！</td>
                            </tr>
                            {/if}
                        {elseif condition="$SearchMsgType eq 'image'"/}<!--图片消息-->
                            {foreach name="List" id="value"}
                            <tr class="mid_02" style="border-left:3px solid #f5da8c;">
                            	<td>{$value['key_word']}</td>
                                <!--<td>{$value['media_id']}</td>-->
                                <td>
                                    {if condition="$value['link_url'] eq ''"}暂无图片
                                    {else/}<img src="{$value['link_url']}" alt="" width="140" height="100" />
                                    {/if}
                                </td>
                                <td>图片消息</td>
                                <td>
                                    <a href="__URL__/edit/id/{$value['id']}">编辑</a>　
                                    <a href="__URL__/delete/id/{$value['id']}" onClick="javascript:return confirm('确定要删除吗？');">删除</a>　
                                </td>
                            </tr>
                            {/foreach}
                            <php>if(!count($List)){</php>
                            <tr class="mid_02" style="border-left:3px solid #f5da8c;">
                                <td colspan="5">暂无相关数据！</td>
                            </tr>
                            {/if}
                        {elseif condition="$SearchMsgType eq 'text'"/}<!--文本消息-->
                            {foreach name="List" id="value"}
                            <tr class="mid_02" style="border-left:3px solid #f5da8c;">
                            	<td>{$value['key_word']}</td>
                                <td>{$value['description']}</td>
                                <td>文本消息</td>
                                <td>
                                    <a href="__URL__/edit/id/{$value['id']}">编辑</a>　
                                    <a href="__URL__/delete/id/{$value['id']}" onClick="javascript:return confirm('确定要删除吗？');">删除</a>　
                                </td>
                            </tr>
                            {/foreach}
                            <php>if(!count($List)){</php>
                            <tr class="mid_02" style="border-left:3px solid #f5da8c;">
                                <td colspan="4">暂无相关数据！</td>
                            </tr>
                            {/if}
                        {/if}
                      
                    </table>
                    <div class="interpret">
                    	<div class="page">{$page}</div>
                    </div>
                    <br /><br />
                </div>
                <!-- mid end -->
		
        </div>
</body>
</html>