<!DOCTYPE html>
<html style="overflow-y:scroll">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="__STATIC__/admin/css/index.css"/>
    <link type="text/css" rel="stylesheet" href="__STATIC__/admin/css/public.css"/>
</head>
<body style="height:auto;">
<div class="menus">
    <div class="menus_r" style="overflow:hidden">
        <div id="con_two_1" style="display: block;">
            <div class="maps">
                <i></i>
                <p class="current">您当前的位置：<a href="{:url('index/index')}">首页</a>&nbsp;>&nbsp; <a href="javascript:void(0);">微信素材管理</a>&nbsp;>&nbsp; <a href="javascript:void(0);">图文列表</a></p>
                <div class="maps_r">
                    <form action="{:url('Material/articles')}" method="post">
                        <input type="text" name="title"  class="sou_l"/>
                        <input type="submit" class="sou_r" value="搜索" />
                    </form>
                </div>
            </div>
			<div class="div_height_15"></div>
            <div class="Member">
                <div class="member_l">
                    <a href="javascript:void(0)" class="selecs selectall">全选</a>
                    <a href="javascript:void(0)" class="selecs unselected">反选</a>
                    <a href="javascript:void(0)" class="selecs select_f">取消</a>
                    <a href="javascript:void(0)" class="delete_s">删除</a>
                    <a href="{:url('Material/addArticle')}" class="append_j">新增图文</a>
                    <button id="addWeChat" class="a5" type="button" style="width:150px;">添加微信多图文素材</button>
                </div>
            </div>
            <!-- add end -->

            <div class="mid">
                <table class="bor_cen"  style="border-collapse:collapse;">
                    <tr class="mid_01" style="border-left:3px solid #e4e3e3">
                        <td class="mid_one" style="border-right:1px solid #e4e3e3"></td>
                        <td class="mid_one">atr Id</td>
                        <td class="mid_t">标题</td>
                        <td class="mid_one">状态</td>
                        <td class="mid_f">更新时间</td>
                        <td class="mid_s">操作</td>
                    </tr>
                    {foreach name="info" id="vo"}
                        <tr class="mid_02" style="border-left:3px solid #cfbba9" data-id="{$vo.atr_id}">
                            <td><input type="checkbox" class="mids_o"/></td>
                            <td>{$vo.atr_id}</td>
                            <td>{$vo.title}</td>
                            <td>
                                <eq name="vo.data_status" value="1">
                                    已上传
                                {else/}
                                    未上传
                                </eq>
                            </td>
                            <td>{$vo.update_time|date="Y-m-d H:i:s",###}</td>
                            <td>
                                <a href="{:url('Material/editArticle',array('atr_id'=>$vo['atr_id']))}">编辑</a> |
                                <a href="javascript:void(0);" class="del-atr" data-id="{$vo.atr_id}">删除</a></td>
                        </tr>
                    {/foreach}
                </table>
                <div class="reveal">
                    <div class="page">{$page}</div>
                </div>
            </div>
            <!-- mid end -->
        </div>
    </div>
</div>
<script type="text/javascript" src="__STATIC__/admin/js/wechat/jquery.js"></script>
<script>
$(function(){
    //全选
    var attrIn = $(".mid_02 input[type='checkbox']");
    $(".selectall").click(function(){
        attrIn.prop("checked",true)
    });

    //反选
    $(".unselected").click(function () {
        $("input[type='checkbox']").each(function () {
            $(this).prop("checked", !$(this).prop("checked"));
        });
    });
    //取消
    $(".select_f").click(function(){
        $("input[type='checkbox']").each(function(){
            $(this).prop("checked",false)
        });
    });
    //删除
    $('.delete_s').click(function () {
        if(confirm("您是否确认删除选中的图文？")) {
            $("input:checked").each(function () {
                var myself = $(this).parents('tr');
                var id = myself.data('id');
                $.post('{:url("Material/delArticleDb")}', {atr_id: id}, function (data) {
                    //console.log(data);
                    if (data.status == 1) {
                        myself.remove();
                    } else {
                        alert('"' + id + '" 删除失败');
                    }
                });
            });
        }
    });

    /*单独删除*/
    $(".del-atr").on('click',function(){
        var atrId = $(this).data('id');
        if(confirm("您是否确认删除ID: "+atrId+" 的素材?")){
            location.href = "{:url('Material/delArticleDb')}/atr_id/"+atrId;
        }
    });

    /*添加至微信选中图文素材*/
    $('#addWeChat').on('click',function(){
        var atrIds='';
        $("input:checked").each(function () {
            atrIds +=$(this).parent().next('td').text()+',';
        });
        if(atrIds != ''){
            location.href = "{:url('Material/insertArticles')}/atr_id/"+atrIds;
        }else{
            alert('请选择需要添加的图文素材')
        }
    });



})
</script>
</body>
</html>