<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>微信消息推送-推送记录</title>
	<link type="text/css" rel="stylesheet" href="__STATIC__/admin/css/index.css"/>
    <link type="text/css" rel="stylesheet" href="__STATIC__/admin/css/public.css"/>
    <script type="text/javascript" src="__STATIC__/admin/js/wechat/jquery.js"></script>
	<script type="text/javascript" src="__STATIC__/javascript/myString.js"></script>
	<script type="text/javascript" src="__STATIC__/javascript/function.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/wechat/PublicUser.js"></script>
</head>
<body>
        
        <div class="menus_r">
        		<div class="maps">
                    <i></i>
                    <p class="current">您当前的位置：<a href="{:url('index/index')}">首页</a>&nbsp;>&nbsp; <a href="{:url('MessagePushManage/index')}">微信消息推送</a>&nbsp;>&nbsp; 推送记录
					</p>   
                </div>
                <!-- add end --> 
				<div class="div_height_15"></div>
                 <form action="" method="post" enctype="multipart/form-data" name="form1" id="form1" autocomplete="off">   
                <div class="mid" id="div_wechat_list">
                	<div class="div_height_15"></div>
                    <table class="mid_con"  style="border-collapse:collapse;">
                    	<tr class="mid_01" style="border-left:3px solid #e4e3e3">
                        	<td class="mid_one">ID</td>
                            <td class="mid_th">消息类型</td>
                            <td class="mid_th">下粉丝数</td>
                            <td class="mid_th">发送成功的粉丝数</td>
                            <td class="mid_th">发送失败的粉丝数</td>
                            <td class="mid_th">发送时间</td>
                            <td class="mid_s">发送的结果</td>
                        </tr>
                        
						{foreach name="List" id="value"}
                            <tr class="mid_02" style="border-left:3px solid #f5da8c;">
                                <td>{$value['id']}</td>
                                <td>
                                {if condition="$value['msgtype'] eq 'mpnews'"}图文消息
                                {elseif condition="$value['msgtype'] eq 'text'" /}文本消息
                                {elseif condition="$value['msgtype'] eq 'voice'" /}语音消息
                                {elseif condition="$value['msgtype'] eq 'music'" /}音乐消息
                                {elseif condition="$value['msgtype'] eq 'image'" /}图片消息
                                {elseif condition="$value['msgtype'] eq 'video'" /}视频消息
                                {elseif condition="$value['msgtype'] eq 'wxcard'" /}卡券消息
                                {/if}
                                </td>
                                <td>{$value['total_count']}</td>
                                <td>{$value['sent_count']}</td>
                                <td>{$value['error_count']}</td>
                                <td>{$value['create_time']|date='Y-m-d',###}</td>
                                <td>
                                {if condition="$value['send_status'] eq 'send success'"}<font color="#006600">发送成功</font>
                                {elseif condition="$value['send_status'] eq ''" /}<font color="#999999">已提交</font>
                                {else/}<font color="#999999">发送失败</font>
                                {/if}  
                                </td>
                            </tr>
                        {/foreach}
                      	{if(!$count)}
                            <tr class="mid_02" style="border-left:3px solid #f5da8c;">
                                <td colspan="8">暂无相关数据！</td>
                            </tr>
                       {/if}
                    </table>
                    
                    <div class="interpret">
                    	<div class="page">{$page}</div>
                    </div>
                    
                    <br /><br />
                </div>
                </form>
                <!-- mid end -->
		
        </div>
</body>
</html>