<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li class="tab">
        <div class="list_cc list_back"><i></i><a href="javascript:vivo(0)">会员管理</a><em></em></div>
        <ul class="ct" style="display:block;">
            <!--<li><a href="{:url('Member/index')}" target="mainframe">会员列表</a></li>-->
            <li><a href="{:url('Wechatwatchgroupslocal/index')}"  target="mainframe">微信粉丝</a></li>
        </ul>
        <hr>
    </li>
    <li class="tab">
        <div class="list_cd list_back"><i></i><a href="javascript:vivo(0)">微信素材</a><em></em></div>
        <ul class="ct" style="display:block;">
            <li><a href="{:url('Material/index')}" target="mainframe">素材列表</a></li>
            <li><a href="{:url('Material/articles')}" target="mainframe">图文列表</a></li>
            <li><a href="{:url('Materialmusic/index')}" target="mainframe">音乐素材</a></li>
        </ul>
        <hr>
    </li>
    <li class="tab">
        <div class="list_ce list_back"><i></i><a href="javascript:vivo(0)">微信回复</a><em></em></div>
        <ul class="ct" style="display:block;">
            <li><a href="{:url('Attentionreply/index')}" target="mainframe">关注回复</a></li>
            <li><a href="{:url('Keywordreply/index')}"  target="mainframe">关键词回复</a></li>
        </ul>
        <hr>
    </li>
    <li class="tab">
        <div class="list_cf list_back"><i></i><a href="javascript:vivo(0)">微信菜单</a><em></em></div>
        <ul class="ct" style="display:block;">
            <li><a href="{:url('Wechatmenu/index')}" target="mainframe">菜单列表</a></li>
            <li><a href="{:url('Wechatmenu/add')}" target="mainframe">添加菜单</a></li>
        </ul>
        <hr>
    </li>
    <li class="tab">
        <div class="list_cg list_back"><i></i><a href="javascript:vivo(0)">微信消息</a><em></em></div>
        <ul class="ct" style="display:block;">
            <li><a href="{:url('Messagepush/index')}" target="mainframe">消息推送</a></li>
            <li><a href="{:url('Messagepushmanage/loglist')}" target="mainframe">推送记录</a></li>
        </ul>
        <hr>
    </li>
    <li class="tab">
        <div class="list_ch list_back"><i></i><a href="javascript:vivo(0)">微信分组</a><em></em></div>
        <ul class="ct" style="display:block;">
            <li><a href="{:url('Wechatgroups/index')}" target="mainframe">微信分组管理</a></li>
            <li><a href="{:url('Wechatgroups/add')}" target="mainframe">添加微信分组</a></li>
            <li><a href="{:url('Wechatwatchgroups/index')}" target="mainframe">粉丝分组管理</a></li>
            <hr />
            <li><a href="{:url('Membergroups/index')}" target="mainframe">本地分组管理</a></li>
            <li><a href="{:url('Membergroups/add')}" target="mainframe">添加本地分组</a></li>
            <li><a href="{:url('Wechatwatchgroupslocal/index')}" target="mainframe">粉丝分组管理</a></li>
        </ul>
    </li>
</ul>
</body>
</html>