<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>微信菜单-菜单列表</title>
	<link type="text/css" rel="stylesheet" href="__STATIC__/admin/css/index.css"/>
    <link type="text/css" rel="stylesheet" href="__STATIC__/admin/css/public.css"/>
    <script type="text/javascript" src="__STATIC__/admin/js/wechat/jquery.js"></script>
	<script type="text/javascript" src="__STATIC__/javascript/myString.js"></script>
	<script type="text/javascript" src="__STATIC__/javascript/function.js"></script>
    <script type="text/javascript" src="__STATIC__/business/js/wechat/PublicUser.js"></script>
    <script type="text/javascript" src="__STATIC__/business/js/wechat/WechatWatchGroups_Index.js"></script>
</head>
<body>
        
        <div class="menus_r">
        		<div class="maps">
                    <i></i>
                    <p class="current">您当前的位置：<a href="{:url('index/index')}">首页</a>&nbsp;>&nbsp; 微信菜单&nbsp;>&nbsp; 菜单列表
					</p>   
                </div>
                <div class="div_height_15"></div>
                <!-- add end --> 
               <div class="Member">
                    <div class="member_l">
                    	<a class="selecs" style="width:100px;" href="__URL__/add">添加菜单</a>
                        <a class="selecs" style="width:100px;" href="__URL__/CreateWechatMenu">生成微信菜单</a>
                        <a class="append_j" style="width:100px;" href="__URL__/SyncWechatMenu">同步微信菜单</a>
                        <div class="careful"></div>
                    </div>
                     
                </div>
                <div class="mid" id="div_wechat_list">
                    <table class="mid_con"  style="border-collapse:collapse;">
                    	<tr class="mid_01" style="border-left:3px solid #e4e3e3">
                        	<td class="mid_one">ID</td>
                            <td class="mid_th">一级菜单</td>
                            <td class="mid_th">二级菜单</td>
                            <td class="mid_th">描述</td>
                            <td class="mid_th">类型</td>
                            <td class="mid_th" style="width: 300px;">跳转的url</td>
                            <!--<td class="mid_th">按钮的key</td>-->
                            <td class="mid_th">素材</td>
                            <td class="mid_s">操作</td>
                        </tr>
                       
						{foreach name="list" id="value"}
                            <tr class="mid_02" style="border-left:3px solid #f5da8c;">
                                <td>{$value['id']}</td>
                                <td>{$value['title']}</td>
                                <td>&nbsp;</td>
                                <td>{$value['description']}</td>
                                <td>
                                    {if condition="$value['data_type'] eq 'click'"}点击推事件
                                    {elseif  condition="$value['data_type'] eq 'view'" /}跳转URL
                                    {elseif  condition="$value['data_type'] eq 'scancode_push'" /}扫码推事件
                                    {elseif  condition="$value['data_type'] eq 'scancode_waitmsg'" /}扫码推事件且弹出“消息接收中”提示框
                                    {elseif  condition="$value['data_type'] eq 'pic_sysphoto'" /}弹出系统拍照发图
                                    {elseif  condition="$value['data_type'] eq 'pic_photo_or_album'" /}弹出拍照或者相册发图
                                    {elseif  condition="$value['data_type'] eq 'pic_weixin'" /}弹出微信相册发图器
                                    {elseif  condition="$value['data_type'] eq 'location_select'" /}弹出地理位置选择器
                                    {elseif  condition="$value['data_type'] eq 'media_id'" /}下发消息（除文本消息）
                                    {elseif  condition="$value['data_type'] eq 'view_limited'" /}跳转图文消息URL
                                    {/if}
                                </td>
                                <td style="width: 300px; word-break:break-all;">{$value['url']}</td>
                                <!--<td>{$value['btn_key']}</td>-->
                                <td>{$value['MaterialTitle']}</td>
                                <td>
                                    <a href="__URL__/edit/id/{$value['id']}">编辑</a>　
                                    {if condition="count($value['ChildrenList']) eq '0'"}
                                    <a href="__URL__/del/id/{$val['id']}"  onClick="javascript:return confirm('确定要删除吗？');">删除</a>　
                                    {else/}
                                    <font color="#bbbbbb">删除</font>　
                                    {/if}
                                </td>
                            </tr>
                        {foreach name="value['ChildrenList']" id="val"}
                             <tr class="mid_02" style="border-left:3px solid #f5da8c;">
                                <td>{$val['id']}</td>
                                <td>|--</td>
                                <td>{$val['title']}&nbsp;</td>
                                <td>{$val['description']}</td>
                                <td>
                                    {if condition="$val['data_type'] eq 'click'"}点击推事件
                                    {elseif  condition="$val['data_type'] eq 'view'" /}跳转URL
                                    {elseif  condition="$val['data_type'] eq 'scancode_push'" /}扫码推事件
                                    {elseif  condition="$val['data_type'] eq 'scancode_waitmsg'" /}扫码推事件且弹出“消息接收中”提示框
                                    {elseif  condition="$val['data_type'] eq 'pic_sysphoto'" /}弹出系统拍照发图
                                    {elseif  condition="$val['data_type'] eq 'pic_photo_or_album'" /}弹出拍照或者相册发图
                                    {elseif  condition="$val['data_type'] eq 'pic_weixin'" /}弹出微信相册发图器
                                    {elseif  condition="$val['data_type'] eq 'location_select'" /}弹出地理位置选择器
                                    {elseif  condition="$val['data_type'] eq 'media_id'" /}下发消息（除文本消息）
                                    {elseif  condition="$val['data_type'] eq 'view_limited'" /}跳转图文消息URL
                                    {/if}
                                </td>
                                <td style="width: 300px; word-break:break-all;">{$val['url']}</td>
                                <!--<td>{$val['btn_key']}</td>-->
                                <td>{$val['MaterialTitle']}</td>
                                <td>
                                    <a href="__URL__/edit/id/{$val['id']}">编辑</a>　
                                    <a href="__URL__/del/id/{$val['id']}"  onClick="javascript:return confirm('确定要删除吗？');">删除</a>　
                                </td>
                            </tr>
                            {/foreach}

                        {/foreach}
                      	{if(!count($list))}
                            <tr class="mid_02" style="border-left:3px solid #f5da8c;">
                                <td colspan="8">暂无相关数据！</td>
                            </tr>
                        {/if}
                    </table>

                    <div class="Member" style="height:200px;">
                        <div style="width:100%;" class="member_l">
                            <label>备注：</label>
                            <span>1、自定义菜单最多包括3个一级菜单，每个一级菜单最多包含5个二级菜单。<br />
                            2、一级菜单最多4个汉字，二级菜单最多7个汉字，多出来的部分将会以“...”代替。<br />
                            3、创建自定义菜单后，由于微信客户端缓存，需要24小时微信客户端才会展现出来。测试时可以尝试取消关注公众账号后再次关注，则可以看到创建后的效果。<br />
                            4、当按钮的类型为“下发消息（除文本消息）media_id”和“跳转图文消息URL(view_limited)”类型时起作用。<br />
                            5、当按钮的类型为“点击推事件(click)”等点击类型时起作用，菜单KEY值，用于消息接口推送，不超过128字节。<br />
                            </span>
                        </div>
                    </div>
                    <br /><br />
                </div>
                <!-- mid end -->
		
        </div>
</body>
</html>