<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>积分信息页</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="https://weixin.zijiahei.com/web/resource/images/favicon.ico">
    <link href="__STATIC__/business/css/bootstrap.css" rel="stylesheet">
    <link href="__STATIC__/business/css/common.css" rel="stylesheet">
    <script src="__STATIC__/business/s.txt"></script>
    <script type="text/javascript" src="__STATIC__/business/js/jquery-1.js"></script>
    <script type="text/javascript" src="__STATIC__/business/js/bootstrap.js"></script>
    <script type="text/javascript" src="__STATIC__/business/js/util.js"></script>
    <script type="text/javascript" src="__STATIC__/business/js/common.js"></script>
    <script type="text/javascript" src="__STATIC__/business/js/require.js"></script>
    <link href="__STATIC__/business/css/bootstrap.css" rel="stylesheet">
    <link href="__STATIC__/business/css/common.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="__STATIC__/admin/css/index.css"/>
    <link type="text/css" rel="stylesheet" href="__STATIC__/admin/css/public.css"/>
    <script type="text/javascript" src="__STATIC__/admin/js/wechat/jquery.js"></script>
    <script type="text/javascript" src="__STATIC__/javascript/myString.js"></script>
    <script type="text/javascript" src="__STATIC__/javascript/function.js"></script>
    <script type="text/javascript" src="__STATIC__/business/js/wechat/PublicUser.js"></script>
    <script type="text/javascript" src="__STATIC__/business/js/wechat/WechatWatchGroupsLocal.js"></script>
</head>
<body>
<div class="loader" style="display:none">
    <div class="la-ball-clip-rotate">
        <div></div>
    </div>
</div>

<div class="panel panel-content main-panel-content ">
    <div class="panel-body clearfix main-panel-body menu-fixed">
                    <div class="right-content" style="min-height: 490px;">
                        <!--系统管理首页-->
                        <div class="welcome-container js-system-welcome ng-scope" ng-controller="WelcomeCtrl">
                            <div class="ad-img we7-margin-bottom">
                            </div>
                            <!-- ngIf: upgrade_show == 1 -->
                            <div class="panel we7-panel database">
                                <div class="panel-heading">
                                 微信粉丝
                                </div>
                                <!-- add end -->
                                <form action="__URL__/index" method="post" enctype="multipart/form-data" name="form1" id="form1"
                                      onSubmit="javascript:return funsubmit_search();" autocomplete="off">
                                    <div class="Member">
                                        <div class="member_l">
                                            <a class="selecs" style="width:100px;" href="__URL__/index">显示全部</a>
                                            <a class="append_j" style="width:100px;" href="{:url('Refreshfans/index')}">刷新粉丝</a>
                                            <div class="careful"></div>
                                        </div>
                                        <div class="paixu">

                                            <input type="text" name="SearchName" id="SearchName" onblur="if (value=='') {value='输入粉丝昵称'}"
                                                   onfocus="if(value=='输入粉丝昵称') {value=''}"
                                                   value="{if(empty($SearchName))}输入粉丝昵称{else/}{$SearchName}{/if}" class="text_titles">
                                            <input type="submit" class="cast" value="搜索">
                                            <span style="color:#F00;" id="span_SearchName"></span>
                                        </div>
                                    </div>
                                </form>
                                <form action="__URL__/editinfo" method="post" enctype="multipart/form-data" name="form1" id="form1"
                                      onSubmit="javascript:return funsubmit_editinfo();" autocomplete="off">
                                    <div class="mid" id="div_wechat_list">
                                        <table class="mid_con" style="border-collapse:collapse;">
                                            <tr class="mid_01" style="border-left:3px solid #e4e3e3">
                                                <td class="mid_one"><input type="checkbox" id="chkAll" name="chkAll" onclick="CheckAll(this.form)"
                                                                           value="checkbox"/></td>
                                                <td class="mid_one">ID</td>
                                                <td class="mid_th">粉丝昵称</td>
                                                <td class="mid_th">分组名</td>
                                                <td class="mid_th">地区</td>
                                                <td class="mid_th">头像</td>
                                                <td class="mid_th">关注时间</td>
                                                <td class="mid_th">关注</td>
                                                <td class="mid_s">操作</td>
                                            </tr>

                                            {foreach name="List" id="value"}
                                            <tr class="mid_02" style="border-left:3px solid #f5da8c;">
                                                <td><input type="checkbox" name="sqt[]" value="{$value['wechat_openid']}"/></td>
                                                <td>{$value['wechat_watch_id']}</td>
                                                <td>{$value['nickname']}</td>
                                                <td>{$value['MemberGroups']}</td>
                                                <td>{$value['province']} {$value['city']}</td>
                                                <td><img src="{$value['headimgurl']}" width="50" height="50"/></td>
                                                <td>{$value['create_time']|date='Y-m-d',###}</td>
                                                <td>
                                                    {if condition="$value['data_status'] = 1"><font color="#006600">已关注</font>
                                                    {else/}<font color="#999999">已取消</font>
                                                    {/if}
                                                </td>
                                                <td>
                                                    <a href="__URL__/edit/openid/{$value['wechat_openid']}">编辑分组</a>　
                                                </td>
                                            </tr>
                                            {/foreach}
                                            {if condition="empty($count)"}
                                            <tr class="mid_02" style="border-left:3px solid #f5da8c;">
                                                <td colspan="8">暂无相关数据！</td>
                                            </tr>
                                            {/if}
                                        </table>

                                        <div class="interpret">
                                            <div class="page">{$page}</div>
                                        </div>
                                        <div class="news_m" style="width:100%;">
                                            <input type="hidden" name="checkclass" id="checkclass" value="1"/>
                                            <button class="a4" type="submit" style="width:180px; float:left; margin-right:10px;"
                                                    onClick="checkclassfun('1');">将选中的粉丝从分组中移除
                                            </button>
                                            　
                                            <button class="a7" type="submit" style="width:180px; float:left; margin-right:10px;"
                                                    onClick="checkclassfun('11');">将选中的粉丝移动到
                                            </button>
                                            <select class="register" name="groups_id" id="groups_id">
                                                {foreach name="ListMemberGroups" id="vo"}
                                                <option value="{$vo.member_groups_id}">{$vo.title}</option>
                                                {/foreach}
                                            </select>
                                            <span style="color:#F00; " id="span_from_submit"></span>
                                        </div>

                                        <br/><br/>
                                    </div>
                                </form>
                                <!-- mid end -->
                            </div>
                            <div class="panel we7-panel apply-list ng-hide" ng-show="not_installed_show == 1">
                                <div class="panel-heading">
			<span class="pull-right">
			</span>
                                    未安装应用
                                </div>
                                <div class="panel-body">
                                </div>
                            </div>
                        </div>
                        <!--end 系统管理首页-->
                        <script type="text/javascript">
                            $(function () {
                                angular.module('systemApp').value('config', {
                                    notices: null,
                                    systemUpgradeUrl: "./index.php?c=home&a=welcome&do=get_system_upgrade&",
                                    upgradeModulesUrl: "./index.php?c=home&a=welcome&do=get_upgrade_modules&",
                                    moduleStatisticsUrl: "./index.php?c=home&a=welcome&do=get_module_statistics&"
                                });
                                angular.bootstrap($('.js-system-welcome'), ['systemApp']);
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid footer text-center" role="footer">
        <div class="friend-link">
            红包管理系统
        </div>
        <div class="copyright">红包管理系统</div>
        <div></div>
    </div>
</div>


</body>
</html>